/** based on `mocha.css` **/
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body:before,
body:after {
    content: " ";
    display: table;
}
body:after {
    clear: both;
}

body > header {
	padding: 15px 300px 0 30px;
	font: 200 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 499px) {
	body > header {
		padding: 70px 20px 0 20px;
	}
}
@media (max-width: 600px) {
	body > header {
		padding-left: 20px;
	}
	#mocha {
		margin-top: 0 !important;
	}
}

body > header h1 {
	margin: 0;
	font-size: 28px;
	font-weight: 400;
}
body > header p {
	margin: 0;
}
body > header a {
	color: #4183C4;
}
