
////////////////////  btn  ////////////////////
-cm-core-btn()
	/* --------------------------------------------- */
	/** basic **/
	.cmBtn
	.cmBtnWrapper
		display block
		-webkit-tap-highlight-color transparent

	.cmBtn
		box-sizing border-box
		overflow ellipsis
		text-align center
		text-decoration none
		html.cmui a&:hover
			text-decoration none	// to prevent default link style

	// form btn
	input
	button
		&.cmBtn
			width 100%
			appearance none
			border-style none
			cursor pointer
			.cmBtnLine > &
			.cmBtnGroup > &
				width auto

	// disabled
	.cmBtn.disabled
	.cmBtn:disabled
		cursor default
		cursor not-allowed
	.cmBtn.disabled
		pointer-events none

	// btn wrapper
	html.cmui
		.cmBtnWrapper
			// to make non-action elements response `click` event on ios
			cursor pointer
		// `.disabled` classes on btn-wrappers only disable functionality of btn-wrapper's,
		// no effect to functionality of btn's
		.disabled .cmBtnWrapper
		.cmBtnWrapper.disabled
			cursor default

	/* --------------------------------------------- */
	/** multiple btn **/
	.cmBtnLine
	.cmBtnGroup
		display flex
		>
			.cmBtn
			.cmBtnWrapper
				flex-grow 1
