
////////////////////  common  ////////////////////
-cm-core-common($htmlBg = $cm-color-bg, $bodyBg = $cm-color-bg)
	/* --------------------------------------------- */
	/** layout **/
	html
		height 100%
		overflow-y scroll
		background-color $htmlBg

	body
		min-height 100%
		font $cm-font-size/$cm-line-height $cm-font-family
		color $cm-color-fg
		background-color $bodyBg

	/* --------------------------------------------- */
	/** basic style **/

	// tap highlight
	html, body, a.off
		-webkit-tap-highlight-color transparent
	input, textarea, select, label[for], a
		-webkit-tap-highlight-color rgba(0, 0, 0, 0.3)

	// link
	a
		color $cm-color-link

	// phone link
	html:not(.phone) a[href^="tel:"]
		color inherit
		text-decoration inherit
	html.desktop a[href^="tel:"]
		pointer-events none

	// context menu
	a[data-action]
		-webkit-touch-callout none

	// TODO: auto apply ScrollFix to these elemets.
	.cm-scrollable-content
		overflow-x hidden
		overflow-y auto
		-webkit-overflow-scrolling touch
