
////////////////////  icon  ////////////////////

/* --------------------------------------------- */
/** common style **/
cmIcon()
	hide-text()
	display block

	// usually, icons dont need to response click event
	pointer-events none

-cm-core-icon()
	.cmIcon
		cmIcon()
		a&
			pointer-events auto
