
////////////////////  icon  ////////////////////

/* --------------------------------------------- */
/** common style **/
cmIcon()
	display block
	margin-left auto
	margin-right auto
	hide-text()

	//usually, icons dont need to response click event
	pointer-events none

	//sometimes we use real elements and pseudo-elements to draw icons
	//& b,
	//& b::before
	//	position absolute
	//	border 0 solid

.cmIcon
	cmIcon()
	a&
		pointer-events auto
