
////////////////////  list  ////////////////////

$cm-list-border-radius ?= $cm-border-radius
$cm-list-item-min-height ?= 44px
$cm-list-item-padding-v ?= 10px
$cm-list-item-padding-h ?= $cm-list-item-padding-v
$cm-list-item-line-height = $cm-list-item-min-height - $cm-list-item-padding-v * 2

$-sel-list-item-content = 'a, p, div, label'
