
////////////////////  overlay  ////////////////////
-cm-core-overlay()

	/* --------------------------------------------- */
	/** overlay style **/
	.cmTipBox
	.cmLoading
	.cmMask
		pointer-events auto
		transform translate3d(0, 0, 0)

	.cmTipBox.hidden
	.cmTipBox.fade-out
	.cmLoading.hidden
	.cmLoading.fade-out
	.cmMask.hidden
	.cmMask.fade-out
		opacity 0
		pointer-events none

	.cmTipBox.fade-in
	.cmLoading.fade-in
	.cmMask.fade-in
		transition opacity 0.15s linear

	.cmTipBox.fade-out
	.cmLoading.fade-out
	.cmMask.fade-out
		transition opacity 0.20s linear


	/* --------------------------------------------- */
	/** mask **/
	.cmMask
		absolute left top
		z-index 100
		size 100% 100%
		background black
		opacity 0.6
		-webkit-tap-highlight-color transparent


	/* --------------------------------------------- */
	/** loading **/
	.cmLoading
		&
			fixed left -210px top
			z-index 200
			min-width 100px
			max-width 200px
			min-height 100px
			overflow hidden
			background black
			border-radius 10px
			opacity 0.75
		// loading icon
		.cmX50
			margin auto
			margin-top 25px
		&.cmText .cmX50
			margin-top 18px
		// loading text
		p
			display none
		&.cmText p
			display block
			margin 5px 20px 10px
			color white
			font-weight 700
			text-align center


	/* --------------------------------------------- */
	/** dialog **/
	.cmDialog
		display none

	.cmDialogReady
		display block
		absolute left -999px top -999px
		z-index 110
