
////////////////////  page  ////////////////////
/** var **/

$cm-nav-bar-height ?= 44px
$cm-nav-bar-padding ?= 5px

$cm-nav-bar-color-bg ?= #eee
$cm-nav-bar-color-border ?= #bbb

$cm-nav-bar-title-fs ?= 18px
$cm-nav-bar-title-width ?= 50%

$cm-nav-bar-btn-wrapper-width = (100% - $cm-nav-bar-title-width)/2
$cm-nav-bar-btn-height ?= 30px
$cm-nav-bar-btn-br ?= 5px


/* --------------------------------------------- */
-cm-core-page()
	/** subview **/
	.cmSubview
		display block
