
////////////////////  var  ////////////////////

/* --------------------------------------------- */
/** color **/
$cm-color-fg ?= #333
$cm-color-bg ?= white

$cm-color-link ?= #015EE7
$cm-color-highlight ?= #FF8000

/* --------------------------------------------- */
/** visual **/
$cm-border-radius ?= 5px


/* --------------------------------------------- */
/** text **/
$cm-font-size ?= 16px
$cm-font-family ?= Helvetica, Arial, sans-serif
$cm-line-height-min ?= 1.2
$cm-line-height-ui ?= 1.5
$cm-line-height-text ?= 1.5

