
////////////////////  var  ////////////////////

/* --------------------------------------------- */
/** color **/
$cm-color-fg ?= #333
$cm-color-bg ?= white

$cm-color-link ?= #015EE7	// same as link color in iOS
$cm-color-highlight ?= #FF8000

/* --------------------------------------------- */
/** visual **/
$cm-border-radius ?= 5px


/* --------------------------------------------- */
/** text **/
$cm-font-size ?= 16px
$cm-font-family ?= Helvetica, Arial, sans-serif
$cm-line-height-min ?= 1.2
$cm-line-height-ui ?= 1.5
$cm-line-height-text ?= 1.5


/* --------------------------------------------- */
/** msg box **/
// TODO: colors need update from bs
// TODO: colors need to move to theme file
$msg-box-color-fg-info ?= #31708F
$msg-box-color-fg-success ?= #448245
$msg-box-color-fg-error ?= #c77270
$msg-box-color-fg-warning ?= #ba9552

$msg-box-color-bg-info ?= #D9EDF7
$msg-box-color-bg-success ?= #e2f1cf
$msg-box-color-bg-error ?= #fff2f2
$msg-box-color-bg-warning ?= #fff7db

$msg-box-color-border-info ?= #31708F
$msg-box-color-border-success ?= #448245
$msg-box-color-border-error ?= #c77270
$msg-box-color-border-warning ?= #ba9552


/* --------------------------------------------- */
/** list **/
$list-border-radius ?= $cm-border-radius
$list-item-min-height ?= 44px
$list-item-padding-v ?= 10px
$list-item-padding-h ?= $list-item-padding-v
$list-item-line-height = $list-item-min-height - $list-item-padding-v * 2



