
////////////////////  bx - btn  ////////////////////
-cm-core-btn()

/* --------------------------------------------- */
/** basic **/

// size
$cm-btn-height = 40px
$cm-btn-padding-h = 5px
$cm-btn-fs = 16px
$cm-btn-br = 4px

.cmBtn
	&
		padding-left $cm-btn-padding-h
		padding-right $cm-btn-padding-h
		$h = $cm-btn-height
		height ($h + 2)
		line-height $h
		font-size $cm-btn-fs
		border 1px solid
		border-radius $cm-btn-br
		background-color currentColor
		-webkit-text-fill-color white
	input&
	button&
		border-style solid
	&.cmBtnXSmall
		padding-left ($cm-btn-padding-h - 2)
		padding-right ($cm-btn-padding-h - 2)
		$h = $cm-btn-height - 20
		height ($h + 2)
		line-height $h
		font-size ($cm-btn-fs - 4)
	&.cmBtnSmall
		padding-left ($cm-btn-padding-h - 1)
		padding-right ($cm-btn-padding-h - 1)
		$h = $cm-btn-height - 10
		height ($h + 2)
		line-height $h
		font-size ($cm-btn-fs - 2)
	&.cmBtnLarge
		padding-left ($cm-btn-padding-h + 2)
		padding-right ($cm-btn-padding-h + 2)
		$h = $cm-btn-height + 4
		height ($h + 2)
		line-height $h
		font-size ($cm-btn-fs + 2)
	&.cmBtnXLarge
		padding-left ($cm-btn-padding-h + 4)
		padding-right ($cm-btn-padding-h + 4)
		$h = $cm-btn-height + 8
		height ($h + 2)
		line-height $h
		font-size ($cm-btn-fs + 4)

// style
.cmBtn.cmBtnBordered
	-webkit-text-fill-color currentColor
	background-color transparent


/* --------------------------------------------- */
/** contextual style (color) **/
$cm-btn-color = #777
$cm-btn-color-primary = $cm-color-highlight
$cm-btn-color-info = #46b8da
$cm-btn-color-success = #4cae4c
$cm-btn-color-danger = #cb2616
$cm-btn-color-warning = #ff9933

.cmBtn
	&
		color $cm-btn-color
	&.cmBtnPrimary
		color $cm-btn-color-primary
	&.cmBtnInfo
		color $cm-btn-color-info
	&.cmBtnSuccess
		color $cm-btn-color-success
	&.cmBtnDanger
		color $cm-btn-color-danger
	&.cmBtnWarning
		color $cm-btn-color-warning

/* --------------------------------------------- */
/** status **/
// hover
-btn-hover-style($color)
	$c = darken($color, 25%)
	border-color $c
	background-color $c

html.no-touch
	.cmBtnWrapper:not(.disabled):hover .cmBtn:not(.disabled):not(:disabled):not(.active)
	.cmBtn:not(.disabled):not(:disabled):not(.active):not(:active):hover
		-btn-hover-style($cm-btn-color)
	.cmBtnWrapper:not(.disabled):hover .cmBtn.cmBtnPrimary:not(.disabled):not(:disabled):not(.active)
	.cmBtn.cmBtnPrimary:not(.disabled):not(:disabled):not(.active):not(:active):hover
		-btn-hover-style($cm-btn-color-primary)
	.cmBtnWrapper:not(.disabled):hover .cmBtn.cmBtnSuccess:not(.disabled):not(:disabled):not(.active)
	.cmBtn.cmBtnSuccess:not(.disabled):not(:disabled):not(.active):not(:active):hover
		-btn-hover-style($cm-btn-color-success)
	.cmBtnWrapper:not(.disabled):hover .cmBtn.cmBtnInfo:not(.disabled):not(:disabled):not(.active)
	.cmBtn.cmBtnInfo:not(.disabled):not(:disabled):not(.active):not(:active):hover
		-btn-hover-style($cm-btn-color-info)
	.cmBtnWrapper:not(.disabled):hover .cmBtn.cmBtnDanger:not(.disabled):not(:disabled):not(.active)
	.cmBtn.cmBtnDanger:not(.disabled):not(:disabled):not(.active):not(:active):hover
		-btn-hover-style($cm-btn-color-danger)
	.cmBtnWrapper:not(.disabled):hover .cmBtn.cmBtnWarning:not(.disabled):not(:disabled):not(.active)
	.cmBtn.cmBtnWarning:not(.disabled):not(:disabled):not(.active):not(:active):hover
		-btn-hover-style($cm-btn-color-warning)

-btn-bordered-hover-style($color)
	border-color $color
	background-color tint($color, 90%)

html.no-touch
	.cmBtnWrapper:not(.disabled):hover .cmBtn.cmBtnBordered:not(.disabled):not(:disabled):not(.active)
	.cmBtn.cmBtnBordered:not(.disabled):not(:disabled):not(.active):not(:active):hover
		-btn-bordered-hover-style($cm-btn-color)
	.cmBtnWrapper:not(.disabled):hover .cmBtn.cmBtnBordered.cmBtnPrimary:not(.disabled):not(:disabled):not(.active)
	.cmBtn.cmBtnBordered.cmBtnPrimary:not(.disabled):not(:disabled):not(.active):not(:active):hover
		-btn-bordered-hover-style($cm-btn-color-primary)
	.cmBtnWrapper:not(.disabled):hover .cmBtn.cmBtnBordered.cmBtnSuccess:not(.disabled):not(:disabled):not(.active)
	.cmBtn.cmBtnBordered.cmBtnSuccess:not(.disabled):not(:disabled):not(.active):not(:active):hover
		-btn-bordered-hover-style($cm-btn-color-success)
	.cmBtnWrapper:not(.disabled):hover .cmBtn.cmBtnBordered.cmBtnInfo:not(.disabled):not(:disabled):not(.active)
	.cmBtn.cmBtnBordered.cmBtnInfo:not(.disabled):not(:disabled):not(.active):not(:active):hover
		-btn-bordered-hover-style($cm-btn-color-info)
	.cmBtnWrapper:not(.disabled):hover .cmBtn.cmBtnBordered.cmBtnDanger:not(.disabled):not(:disabled):not(.active)
	.cmBtn.cmBtnBordered.cmBtnDanger:not(.disabled):not(:disabled):not(.active):not(:active):hover
		-btn-bordered-hover-style($cm-btn-color-danger)
	.cmBtnWrapper:not(.disabled):hover .cmBtn.cmBtnBordered.cmBtnWarning:not(.disabled):not(:disabled):not(.active)
	.cmBtn.cmBtnBordered.cmBtnWarning:not(.disabled):not(:disabled):not(.active):not(:active):hover
		-btn-bordered-hover-style($cm-btn-color-warning)

// active
-btn-active-style($color)
	-webkit-text-fill-color white
	border-color darken($color, 75%)
	background-color darken($color, 50%)
	box-shadow inset 0 2px 1px darken($color, 75%)

html.cmui .cmBtnWrapper:not(.disabled):active .cmBtn:not(.disabled):not(:disabled)
.cmBtn:not(.disabled):not(:disabled):active
.cmBtn.active
	-btn-active-style($cm-btn-color)
html.cmui .cmBtnWrapper:not(.disabled):active .cmBtn.cmBtnPrimary:not(.disabled):not(:disabled)
.cmBtn.cmBtnPrimary:not(.disabled):not(:disabled):active
.cmBtn.cmBtnPrimary.active
	-btn-active-style($cm-btn-color-primary)
html.cmui .cmBtnWrapper:not(.disabled):active .cmBtn.cmBtnInfo:not(.disabled):not(:disabled)
.cmBtn.cmBtnInfo:not(.disabled):not(:disabled):active
.cmBtn.cmBtnInfo.active
	-btn-active-style($cm-btn-color-info)
html.cmui .cmBtnWrapper:not(.disabled):active .cmBtn.cmBtnSuccess:not(.disabled):not(:disabled)
.cmBtn.cmBtnSuccess:not(.disabled):not(:disabled):active
.cmBtn.cmBtnSuccess.active
	-btn-active-style($cm-btn-color-success)
html.cmui .cmBtnWrapper:not(.disabled):active .cmBtn.cmBtnDanger:not(.disabled):not(:disabled)
.cmBtn.cmBtnDanger:not(.disabled):not(:disabled):active
.cmBtn.cmBtnDanger.active
	-btn-active-style($cm-btn-color-danger)
html.cmui .cmBtnWrapper:not(.disabled):active .cmBtn.cmBtnWarning:not(.disabled):not(:disabled)
.cmBtn.cmBtnWarning:not(.disabled):not(:disabled):active
.cmBtn.cmBtnWarning.active
	-btn-active-style($cm-btn-color-warning)

-btn-bordered-active-style($color)
	//-webkit-text-fill-color white
	border-color currentColor
	background-color currentColor
	box-shadow none

html.cmui .cmBtnWrapper:not(.disabled):active .cmBtn.cmBtnBordered:not(.disabled):not(:disabled)
.cmBtn.cmBtnBordered:not(.disabled):not(:disabled):active
.cmBtn.cmBtnBordered.active
	-btn-bordered-active-style($cm-btn-color)
//html.cmui .cmBtnWrapper:not(.disabled):active .cmBtn.cmBtnBordered.cmBtnPrimary:not(.disabled):not(:disabled)
//.cmBtn.cmBtnBordered.cmBtnPrimary:not(.disabled):not(:disabled):active
//	-btn-bordered-active-style($cm-btn-color-primary)
//html.cmui .cmBtnWrapper:not(.disabled):active .cmBtn.cmBtnBordered.cmBtnInfo:not(.disabled):not(:disabled)
//.cmBtn.cmBtnBordered.cmBtnInfo:not(.disabled):not(:disabled):active
//	-btn-bordered-active-style($cm-btn-color-info)
//html.cmui .cmBtnWrapper:not(.disabled):active .cmBtn.cmBtnBordered.cmBtnSuccess:not(.disabled):not(:disabled)
//.cmBtn.cmBtnBordered.cmBtnSuccess:not(.disabled):not(:disabled):active
//	-btn-bordered-active-style($cm-btn-color-success)
//html.cmui .cmBtnWrapper:not(.disabled):active .cmBtn.cmBtnBordered.cmBtnDanger:not(.disabled):not(:disabled)
//.cmBtn.cmBtnBordered.cmBtnDanger:not(.disabled):not(:disabled):active
//	-btn-bordered-active-style($cm-btn-color-danger)
//html.cmui .cmBtnWrapper:not(.disabled):active .cmBtn.cmBtnBordered.cmBtnWarning:not(.disabled):not(:disabled)
//.cmBtn.cmBtnBordered.cmBtnWarning:not(.disabled):not(:disabled):active
//	-btn-bordered-active-style($cm-btn-color-warning)

// disabled
.cmBtn
	&.disabled
	&:disabled
		opacity 0.4


/* --------------------------------------------- */
/** multiple btn **/

/** btn line **/
.cmBtnLine
	$-gap = 10px
	>
		.cmBtn
		.cmBtnWrapper
			margin-left ($-gap / 2)
			margin-right ($-gap / 2)
			&:first-child
				margin-left 0
			&:last-child
				margin-right 0

/** btn group **/
.cmBtnGroup
	$-gap = 1px
	>
		.cmBtn:not(:first-child)
		.cmBtnWrapper:not(:first-child)
			margin-left $-gap
		.cmBtn.cmBtnBordered:not(:first-child)
			margin-left 0
			border-left none
		.cmBtnWrapper:not(:first-child) .cmBtn.cmBtnBordered
			margin-left (- $-gap)
			border-left none

		.cmBtn:not(:first-child)
		.cmBtnWrapper:not(:first-child) .cmBtn
			border-top-left-radius 0
			border-bottom-left-radius 0
		.cmBtn:not(:last-child)
		.cmBtnWrapper:not(:last-child) .cmBtn
			border-top-right-radius 0
			border-bottom-right-radius 0
