
////////////////////  bx - common  ////////////////////
-cm-core-common($cm-color-stage-backdrop)

hr
	color $cm-color-splitter

a
	text-decoration none
	html.no-touch &:hover
		text-decoration underline
