
////////////////////  bx - grid-list  ////////////////////

ul.cmGridList
	$-border-color = $cm-color-light-gray
	$-item-height = 50px
	$-item-padding-v = ($-item-height - $cm-font-size * $cm-line-height-ui) / 2
	$-item-padding-h = 5px
	$-item-label-padding-left = $cm-font-size * 1.5 + $cm-page-content-padding-h
	$-item-label-padding-right = $cm-page-content-padding-h
	$-item-label-input-offset-top = $cm-font-size * (($cm-line-height-ui - 1) / 2)

	&
		border-left 1px solid $-border-color
		clearfix()
	// list item style
	> li
		float left
		box-sizing border-box
		border 1px solid $-border-color
		border-left none
		// to collapse border
		&
			margin-bottom -1px
			&:last-child
				margin-bottom 0
		> a
		> label
			display block
			overflow ellipsis
			html.mouse &:hover
				background-color $cm-color-x-light-gray
				background-image linear-gradient(to bottom, white, $cm-color-x-light-gray)
			html.mouse &:active
				background-color $cm-color-x-light-gray
				background-image linear-gradient(to bottom, $cm-color-x-light-gray, white)
		> label
			padding $-item-padding-v $-item-label-padding-right $-item-padding-v $-item-label-padding-left
			cursor pointer
			// use `:active` and bg color to improve responsivity, instead of touch-highlight
			html.touch &:active
				background-color $cm-color-gray
			> input[type='radio']:first-child
			> input[type='checkbox']:first-child
				float left
				margin-left (- $cm-font-size * 1.5)
				margin-top $-item-label-input-offset-top
		> a
			padding $-item-padding-v $-item-padding-h
			text-center()
			text-decoration none
			color inherit
		// selected item
		&.selected
			position relative
			> a
			> label
				background-color $cm-color-x-light-gray
				html.mouse &
					background-image none

	// border style
	&.cmGridListNoBorder
		border none
		> li
			margin-top 0
			border none

	// list item width
	> li
		min-width 4em
		width 50%
