
////////////////////  bx - icon  ////////////////////
-icon-msg-sprite()
	$-url-icon-msg = url(http://file.baixing.net/icon-msg-20150109.png)
	background $-url-icon-msg no-repeat
	background-size 20px auto
-icon-msg-sprite-bg-pos($iconName)
	$-icon-msg-sprite-bg-pos = {
		'msg-info':			0 0,
		'msg-success':		0 -20px,
		'msg-warning':		0 -40px,
		'msg-error':		0 -60px,
		'msg-forbidden':	0 -80px,
		'z': 0 0
	}
	$pos = $-icon-msg-sprite-bg-pos[$iconName] || (99px 99px)
	background-position $pos

.cmIcon
	&.cmX20
		&.msg-info
		&.msg-success
		&.msg-forbidden
		&.msg-error
		&.msg-warning
			-icon-msg-sprite()
		&.msg-info
			-icon-msg-sprite-bg-pos('msg-info')
		&.msg-success
			-icon-msg-sprite-bg-pos('msg-success')
		&.msg-error
			-icon-msg-sprite-bg-pos('msg-error')
		&.msg-forbidden
			-icon-msg-sprite-bg-pos('msg-forbidden')
		&.msg-warning
			-icon-msg-sprite-bg-pos('msg-warning')

	$-url-icon-loading = url(http://file.baixing.net/201405/ui-loading-48x48-white-black.gif)
	&.cmX50
		&.loading-black-bg
			background $-url-icon-loading no-repeat center center

// mixin for msg box
-cmIcon-cmX20($iconName)
	cmIcon()
	size 20px
	-icon-msg-sprite()
	-icon-msg-sprite-bg-pos($iconName)
