
////////////////////  bx - layout  ////////////////////
/** var **/

// nav bar
$cm-nav-bar-height = 44px
$cm-nav-bar-padding-h = 7px

$cm-nav-bar-color-bg ?= #efeeeb

$cm-nav-bar-title-fs = $cm-font-size-xl

$cm-nav-bar-btn-height = 28px

/* --------------------------------------------- */
/** core **/
-cm-core-layout($cm-color-stage)

/* --------------------------------------------- */
/** section **/
.cmSectionTitle
	$-h = 30px
	$-fs = $cm-font-size
	box-sizing border-box
	padding-left $cm-content-padding
	padding-right $cm-content-padding
	height $-h
	line-height $-h
	font-size $-fs
	font-weight normal
	color $cm-color-fg-light

.cmSectionContent
	background-color $cm-color-bg

/* --------------------------------------------- */
/** nav bar **/
.cmSubview > header
	//position relative
	//z-index 10
	background-color $cm-nav-bar-color-bg

.cmNavBar
	position relative
	height $cm-nav-bar-height
	line-height $cm-nav-bar-height
	> h1
		margin-left $cm-nav-bar-btn-wrapper-width
		margin-right $cm-nav-bar-btn-wrapper-width
		text-align center
		font-size $cm-nav-bar-title-fs
		overflow ellipsis
	> div
		box-sizing border-box
		position absolute
		top 0
		width $cm-nav-bar-btn-wrapper-width
	> .cmNavBarLeft
		left 0
	> .cmNavBarRight
		right 0
	.cmBtnWrapper
		padding-top (($cm-nav-bar-height - $cm-nav-bar-btn-height)/2)
		padding-bottom (($cm-nav-bar-height - $cm-nav-bar-btn-height)/2)
	> .cmNavBarLeft .cmBtnWrapper
	> .cmNavBarLeft.cmBtnWrapper
		padding-left $cm-nav-bar-padding-h
		.cmBtn
			float left
	> .cmNavBarRight .cmBtnWrapper
	> .cmNavBarRight.cmBtnWrapper
		padding-right $cm-nav-bar-padding-h
		.cmBtn
			float right

/* --------------------------------------------- */
/** nav bar btn **/
$cm-nav-bar-btn-padding-h = 7px
$cm-nav-bar-btn-fs = $cm-font-size
$cm-nav-bar-btn-br = $cm-btn-br

.cmNavBar .cmBtn
	padding-left $cm-nav-bar-btn-padding-h
	padding-right $cm-nav-bar-btn-padding-h
	height $cm-nav-bar-btn-height
	line-height ($cm-nav-bar-btn-height - 2)
	font-size $cm-nav-bar-btn-fs
	border-radius $cm-nav-bar-btn-br

/* --------------------------------------------- */
/** main content **/
.cmSubview > main
	min-height 200px
	clearfix()
