
////////////////////  bx - list  ////////////////////
/** var **/
$cm-list-item-min-height = 50px
$cm-list-item-padding-h = 10px
$cm-list-item-line-height = $cm-list-item-min-height - $cm-list-item-padding-v * 2

/* --------------------------------------------- */
/** list **/
.cmList
	// layout
	> li
		&[data-badge]
		&[data-value]
			position relative

		// padding
		>
			{$-sel-list-item-content}
				&:first-child
					padding $cm-list-item-padding-v $cm-list-item-padding-h


/* --------------------------------------------- */
/** theme **/
.cmList
	border-bottom 1px solid $cm-color-splitter
	// gap between lists
	& + &
		margin-top $cm-list-item-min-height * 0.5

	// list item
	> li
		min-height $cm-list-item-min-height

		// splitter
		border-top 1px solid $cm-color-splitter

		>
			{$-sel-list-item-content}
				&:first-child
					box-sizing border-box
					min-height $cm-list-item-min-height
					height 100%
					line-height $cm-list-item-line-height
					overflow ellipsis
					background-color white

			a, label
				&:first-child
					display block
					position relative
					z-index 10
					color inherit
					text-decoration none
					background-color white
					html.no-touch &:hover
						background-color $cm-color-hover
					html.no-touch &:active
						background-color $cm-color-active

/* --------------------------------------------- */
/** list as section content **/
.cmList.cmSectionContent
	border-bottom none
	> li:first-child
		border-top none

/* --------------------------------------------- */
/** arrow **/
$cm-list-arrow-size = 10px
$cm-list-arrow-color = #ccc
$cm-list-arrow-line-width = 1px
$cm-list-arrow-area-width = 30px

.cmList > li.cmListRightArrow
.cmList.cmListRightArrow > li
	> a:first-child
		&::after
			content ''
			box-sizing border-box
			position absolute
			right $cm-list-item-padding-h
			top 50%
			margin-top (- $cm-list-arrow-size / 2)
			size $cm-list-arrow-size
			color $cm-list-arrow-color
			border-style solid
			border-width $cm-list-arrow-line-width $cm-list-arrow-line-width 0 0
			transform rotate(45deg)
			pointer-events none

/* --------------------------------------------- */
/** badge **/
$cm-list-badge-padding-h = 5px
$cm-list-badge-height = 20px
$cm-list-badge-min-width = 20px
$cm-list-badge-max-width = 45px
$cm-list-badge-bg-color = $cm-color-primary

.cmList > li[data-badge]::after
	content attr(data-badge)
	box-sizing border-box
	absolute top 50% right $cm-list-item-padding-h
	z-index 20
	margin-top (- $cm-list-badge-height/2)
	padding 0 $cm-list-badge-padding-h
	min-width $cm-list-badge-min-width
	max-width $cm-list-badge-max-width
	line-height $cm-list-badge-height
	overflow ellipsis
	font-size $cm-font-size
	text-align center
	color white
	background-color $cm-list-badge-bg-color
	border-radius ($cm-list-badge-height/2)
	pointer-events none

.cmList.cmListRightArrow > li[data-badge]
.cmList > li[data-badge].cmListRightArrow
	&::after
		right $cm-list-arrow-area-width


/* --------------------------------------------- */
/** value **/
$cm-list-value-width = 60%
$cm-list-value-height = 24px
$cm-list-value-fg-color = $cm-color-fg-light

.cmList > li[data-value]::after
	content attr(data-value)
	box-sizing border-box
	absolute top 50% right 0
	z-index 20
	margin-top (- $cm-list-value-height/2)
	padding-right $cm-list-item-padding-h
	max-width $cm-list-value-width
	line-height $cm-list-value-height
	overflow ellipsis
	text-align right
	color $cm-list-value-fg-color
	pointer-events none

.cmList.cmListRightArrow > li[data-value]
.cmList > li[data-value].cmListRightArrow
	&::after
		padding-right $cm-list-arrow-area-width


/* --------------------------------------------- */
/** padding **/
.cmList > li.cmListRightArrow
.cmList.cmListRightArrow > li
	> a:first-child
		padding-right $cm-list-arrow-area-width

.cmList > li[data-badge] >
	{$-sel-list-item-content}
		&:first-child
			padding-right ($cm-list-item-padding-h + $cm-list-badge-max-width + 5)
.cmList > li[data-badge].cmListRightArrow
.cmList.cmListRightArrow > li[data-badge]
	> a:first-child
		padding-right ($cm-list-arrow-area-width + $cm-list-badge-max-width + 5)

.cmList > li[data-value] >
	{$-sel-list-item-content}
		&:first-child
			padding-right ($cm-list-value-width + 2)


/* --------------------------------------------- */
/** icon **/
$cm-list-item-icon-margin-h = $cm-list-item-padding-v

.cmList > li >
	{$-sel-list-item-content}
		&:first-child
			> .cmIcon
				float left
				margin-right $cm-list-item-icon-margin-h

				for $size in 2 .. 5
					&.cmX{$size}0
						$cm-list-item-icon-margin-v = (($cm-list-item-line-height - $size * 10)/2)
						margin-top $cm-list-item-icon-margin-v
						margin-bottom $cm-list-item-icon-margin-v

