
////////////////////  bx - page  ////////////////////
/** var **/

// nav bar
$cm-nav-bar-height = 44px
$cm-nav-bar-padding = 7px

$cm-nav-bar-color-bg ?= #efeeeb
$cm-nav-bar-color-border ?= #aaa

$cm-nav-bar-title-fs = 18px

$cm-nav-bar-btn-height = 28px
$cm-nav-bar-btn-br = 5px

// content
$page-content-padding-h = 10px


/* --------------------------------------------- */
/** core **/
-cm-core-page()

/* --------------------------------------------- */
/** nav bar **/
.cmSubview > header
	position relative
	z-index 10
	background-color $cm-nav-bar-color-bg
	box-shadow 0 1px 3px 0 rgba(0, 0, 0, 0.2)
	> nav
		border-bottom 1px solid $cm-nav-bar-color-border

.cmNavBar
	position relative
	height $cm-nav-bar-height
	line-height $cm-nav-bar-height
	> h1
		margin-left $cm-nav-bar-btn-wrapper-width
		margin-right $cm-nav-bar-btn-wrapper-width
		text-center()
		font-size $cm-nav-bar-title-fs
		overflow ellipsis
	> div
		box-sizing border-box
		position absolute
		top 0
		width $cm-nav-bar-btn-wrapper-width
	> .cmNavBarLeft
		left 0
	> .cmNavBarRight
		right 0
	.cmBtnWrapper
		padding-top (($cm-nav-bar-height - $cm-nav-bar-btn-height)/2)
		padding-bottom (($cm-nav-bar-height - $cm-nav-bar-btn-height)/2 + 10)
	> .cmNavBarLeft .cmBtnWrapper
	> .cmNavBarLeft.cmBtnWrapper
		padding-left $cm-nav-bar-padding
		.cmBtn
			float left
	> .cmNavBarRight .cmBtnWrapper
	> .cmNavBarRight.cmBtnWrapper
		padding-right $cm-nav-bar-padding
		.cmBtn
			float right

/* --------------------------------------------- */
/** nav bar btn **/
$cm-nav-bar-btn-padding-h = 7px

$cm-nav-bar-btn-color-fg = $cm-color-fg
$cm-nav-bar-btn-color-bg = darken($btn-color-bg, 10%)
$cm-nav-bar-btn-color-bg-success = darken($btn-color-bg-success, 20%)
$cm-nav-bar-btn-color-bg-danger = #ff7166
$cm-nav-bar-btn-color-bg-info = #b0bcc4

.cmNavBar .cmBtn
	height $cm-nav-bar-btn-height
	line-height $cm-nav-bar-btn-height
	padding-left $cm-nav-bar-btn-padding-h
	padding-right $cm-nav-bar-btn-padding-h
	font-size $bx-fs-text-minor
	border-radius $cm-nav-bar-btn-br
	&.cmBtnBack
		margin-left 8px
		position relative
		padding-left 4px
		overflow visible
		border-top-left-radius 7px
		border-bottom-left-radius 7px
		background-image none !important	// no gradient
		&::before
		&::after
			content ''
			absolute left -9px
			border-style solid
			border-color transparent
			border-width 11px 11px 11px 0
			height 2px
		&::before
			top 3px
		&::after
			top 2px

-nav-bar-btn($fgColor, $bgColor)
	$hoverColor = darken($bgColor, 5%)
	$activeColor = darken($bgColor, 30%)
	$shadowColor = darken($bgColor, 25%)
	$shadowColorHover = darken($bgColor, 40%)
	$shadowColorActive = darken($bgColor, 50%)
	.cmNavBar &
		color $fgColor
		background-color $bgColor
		background-image linear-gradient(to bottom, lighten($bgColor, 15%), darken($bgColor, 15%))
		box-shadow 0 1px 0 0 $shadowColor
		// Android 2 ignore declaration, if shadow blur set to `0`
		html.android.legacy &
			-webkit-box-shadow 0 1px 1px 0 $shadowColor

		&.cmBtnBack
			&::before
				border-right-color $shadowColor
			&::after
				border-right-color $bgColor

	// hover
	html.mouse .cmNavBar .cmBtnWrapper:hover &:not(.disabled)
	html.mouse .cmNavBar &:hover
		background-color $hoverColor
		background-image linear-gradient(to bottom, lighten($bgColor, 5%), darken($bgColor, 25%))
		box-shadow 0 1px 0 0 $shadowColorHover
	html.mouse .cmNavBar .cmBtnWrapper:hover &.cmBtnBack:not(.disabled)
	html.mouse .cmNavBar &.cmBtnBack:hover
		&::before
			border-right-color $shadowColorHover
		&::after
			border-right-color $hoverColor
	// active
	html.cmui .cmNavBar .cmBtnWrapper:active &:not(.disabled)
	.cmNavBar &:active
		background-color $activeColor
		background-image linear-gradient(to bottom, darken($bgColor, 45%), darken($bgColor, 15%))
		box-shadow 0 1px 0 0 $shadowColorActive
	html.cmui .cmNavBar .cmBtnWrapper:active &.cmBtnBack:not(.disabled)
	.cmNavBar &.cmBtnBack:active
		&::before
			border-right-color $shadowColorActive
		&::after
			border-right-color $activeColor

.cmBtn
	&
		-nav-bar-btn(darken($cm-nav-bar-btn-color-fg, 10%), $cm-nav-bar-btn-color-bg)
	&.cmBtnSuccess
		-nav-bar-btn(white, $cm-nav-bar-btn-color-bg-success)
	&.cmBtnDanger
		-nav-bar-btn(white, $cm-nav-bar-btn-color-bg-danger)
	&.cmBtnInfo
		-nav-bar-btn(white, $cm-nav-bar-btn-color-bg-info)



/* --------------------------------------------- */
/** main content **/
.cmSubview > main
	padding-left $page-content-padding-h
	padding-right $page-content-padding-h
	min-height 200px
	clearfix()

// use this mixin on `main`'s children to get edge-to-edge fx.
full-width-block()
	display block
	box-sizing border-box
	margin-left (- $page-content-padding-h)
	margin-right (- $page-content-padding-h)
