
////////////////////  bx - panel  ////////////////////

.cm-panel
	$-header-h = 44px
	$-header-border-width = 1px
	display none
	position fixed
	z-index 110
	left 0
	right 0
	bottom 0
	background-color $cm-color-bg
	.cm-panel-header
		height $-header-h
		overflow hidden
		font-weight inherit
		color $cm-color-fg-dark
		background-color $cm-color-bg
		border-bottom $-header-border-width solid $cm-color-splitter
		.cm-panel-header-title
			margin 0 20%
			overflow ellipsis
			font-size $cm-font-size-l
			text-align center
			font-weight inherit
			line-height $-header-h
		.cm-panel-header-left
		.cm-panel-header-right
			position absolute
			top 0
		.cm-panel-header-left
			left 0
		.cm-panel-header-right
			right 0
	.cm-panel-header-btn
		display block
		padding 0 $cm-content-padding
		line-height $-header-h
		&.cm-panel-header-btn-minor
			color $cm-color-fg-light

	.cm-panel-content
		position absolute
		top ($-header-h + $-header-border-width)
		left 0
		right 0
		bottom 0
