
////////////////////  bx - text  ////////////////////
-cm-core-text()

/* --------------------------------------------- */
/** theme **/
bx-headline()
	font-size $bx-fs-headline
	font-weight inherit
	line-height $cm-line-height-text
bx-headline-minor()
	font-size $bx-fs-headline-minor
	font-weight 700
	line-height $cm-line-height-text
bx-text()
	font-size $cm-font-size
	line-height $cm-line-height-text
bx-text-minor()
	font-size $bx-fs-text-minor
	line-height $cm-line-height-text


/* --------------------------------------------- */
/** msg box **/
.cmMsgBox
	position relative
	display block
	margin-top 10px
	margin-bottom 10px
	padding 5px 10px 5px 30px
	font-size $cm-font-size
	line-height $cm-line-height-text
	border-radius $cm-border-radius

	// icon
	&::before
		content ''
		absolute left 7px top 6px

	// contextual style
	&
		color $msg-box-color-fg-info
		background-color $msg-box-color-bg-info
		&::before
			-cmIcon-cmX20('msg-info')
	&.cmMsgBoxWarning
		color $msg-box-color-fg-warning
		background-color $msg-box-color-bg-warning
		&::before
			-cmIcon-cmX20('msg-warning')
	&.cmMsgBoxSuccess
		color $msg-box-color-fg-success
		background-color $msg-box-color-bg-success
		&::before
			-cmIcon-cmX20('msg-success')
	&.cmMsgBoxError
		color $msg-box-color-fg-error
		background-color $msg-box-color-bg-error
		&::before
			-cmIcon-cmX20('msg-error')
	&.cmMsgBoxForbidden
		color $msg-box-color-fg-error
		background-color $msg-box-color-bg-error
		&::before
			-cmIcon-cmX20('msg-forbidden')

	// debug
	> .cmIcon:first-child
		display none

	&.cmText
		h1, h2, h3, h4, h5, h6, p, ul, ol
			font-size 1em
			margin-top 0
			margin-bottom 0
		p, ul, ol
			padding-top 3px
			padding-bottom 3px
			line-height $cm-line-height-min


/* --------------------------------------------- */
/** label **/
$label-border-radius = 0.25em
$label-padding-h = 0.25em
$label-padding-v = 0.20em

$label-bg-color = #ffb380
$label-bg-color-success = #98d374
.cmLabel
	padding $label-padding-v $label-padding-h
	font-weight inherit
	white-space nowrap
	color white
	background-color $label-bg-color
	border-radius $label-border-radius
	&.cmLabelSuccess
		background-color $label-bg-color-success


/* --------------------------------------------- */
/** info box **/
$info-box-color-bg = $bx-color-x-light-gray
$info-box-color-border = $bx-color-light-gray
$info-box-padding-h = $page-content-padding-h
$info-box-padding-v = 10px
$info-box-border-radius = $cm-border-radius
.cmInfoBox
	margin-top 10px
	margin-bottom 10px
	padding $info-box-padding-v $info-box-padding-h
	background-color $info-box-color-bg
	border 1px solid $info-box-color-border
	border-radius $info-box-border-radius


