
////////////////////  bx - text  ////////////////////
-cm-core-text()

/* --------------------------------------------- */
/** theme **/
bx-headline()
	font-size $bx-fs-headline
	font-weight inherit
	line-height $cm-line-height-text
bx-headline-minor()
	font-size $bx-fs-headline-minor
	font-weight 700
	line-height $cm-line-height-text
bx-text()
	font-size $cm-font-size
	line-height $cm-line-height-text
bx-text-minor()
	font-size $bx-fs-text-minor
	line-height $cm-line-height-text


/* --------------------------------------------- */
/** msg box **/

// TODO: colors need update from bs
// TODO: colors need to move to theme file
$cm-msg-box-color-fg-info ?= #31708F
$cm-msg-box-color-fg-success ?= #448245
$cm-msg-box-color-fg-error ?= #c77270
$cm-msg-box-color-fg-warning ?= #ba9552

$cm-msg-box-color-bg-info ?= #D9EDF7
$cm-msg-box-color-bg-success ?= #e2f1cf
$cm-msg-box-color-bg-error ?= #fff2f2
$cm-msg-box-color-bg-warning ?= #fff7db

$cm-msg-box-color-border-info ?= #31708F
$cm-msg-box-color-border-success ?= #448245
$cm-msg-box-color-border-error ?= #c77270
$cm-msg-box-color-border-warning ?= #ba9552

.cmMsgBox
	position relative
	display block
	margin-top 10px
	margin-bottom 10px
	padding 5px 10px 5px 30px
	font-size $cm-font-size
	line-height $cm-line-height-text
	border-radius $cm-border-radius

	// icon
	&::before
		content ''
		absolute left 7px top 6px

	// contextual style
	&
		color $cm-msg-box-color-fg-info
		background-color $cm-msg-box-color-bg-info
		&::before
			-cmIcon-cmX20('msg-info')
	&.cmMsgBoxWarning
		color $cm-msg-box-color-fg-warning
		background-color $cm-msg-box-color-bg-warning
		&::before
			-cmIcon-cmX20('msg-warning')
	&.cmMsgBoxSuccess
		color $cm-msg-box-color-fg-success
		background-color $cm-msg-box-color-bg-success
		&::before
			-cmIcon-cmX20('msg-success')
	&.cmMsgBoxError
		color $cm-msg-box-color-fg-error
		background-color $cm-msg-box-color-bg-error
		&::before
			-cmIcon-cmX20('msg-error')
	&.cmMsgBoxForbidden
		color $cm-msg-box-color-fg-error
		background-color $cm-msg-box-color-bg-error
		&::before
			-cmIcon-cmX20('msg-forbidden')

	// debug
	> .cmIcon:first-child
		display none

	&.cmText
		h1, h2, h3, h4, h5, h6, p, ul, ol
			font-size 1em
			margin-top 0
			margin-bottom 0
		p, ul, ol
			padding-top 3px
			padding-bottom 3px
			line-height $cm-line-height-min


/* --------------------------------------------- */
/** label **/
$cm-label-border-radius = 0.25em
$cm-label-padding-h = 0.2em

.cmLabel
	display inline-block
	padding 0.1em $cm-label-padding-h 0 $cm-label-padding-h
	font-size $cm-font-size
	line-height $cm-line-height-min
	white-space nowrap
	border 1px solid
	border-radius $cm-label-border-radius

	// size
	small&
	&.cmLabelXSmall
		font-size ($cm-font-size - 4)
	&.cmLabelSmall
		font-size ($cm-font-size - 2)
	&.cmLabelLarge
		font-size ($cm-font-size + 2)
	&.cmLabelXLarge
		font-size ($cm-font-size + 4)

	// style
	&.cmLabelSolid
		background-color currentColor
		-webkit-text-fill-color white


/* --------------------------------------------- */
/** info box **/
$cm-info-box-color-bg = $cm-color-x-light-gray
$cm-info-box-color-border = $cm-color-light-gray
.cmInfoBox
	margin-top 10px
	margin-bottom 10px
	padding $cm-content-padding
	background-color $cm-info-box-color-bg
	border 1px solid $cm-info-box-color-border
	border-radius $cm-border-radius

	p, div, label
		+ .cmBtn
			margin-top 5px

