
////////////////////  bx - var  ////////////////////

/* --------------------------------------------- */
/** color **/

// more colors (besides core colors)
$cm-color-fg-minor = #a3a4a4
$cm-color-fg-light = #7f8487
$cm-color-fg-dark = #111
$cm-color-fg-highlight = #FF8000

$cm-color-link = #0059b2

// theme
$bx-color-x-light-gray = #f6f6f6
$bx-color-light-gray = #eee
$bx-color-gray = #ddd
$bx-color-active-green = #80d032

/* --------------------------------------------- */
/** visual **/

// visual
$cm-border-radius = 5px


/* --------------------------------------------- */
/** text **/

// theme
$bx-fs-headline = 18px
$bx-fs-headline-minor = 16px
$bx-fs-text-minor = 13px


/* --------------------------------------------- */
/** page **/

// nav bar
$nav-bar-height = 44px
$nav-bar-padding = 7px

$nav-bar-color-bg ?= #efeeeb
$nav-bar-color-border ?= #aaa

$nav-bar-title-fs = 18px

$nav-bar-btn-height = 28px
$nav-bar-btn-br = 5px

// content
$page-content-padding-h = 10px


/* --------------------------------------------- */
/** msg box **/
$msg-box-color-fg-info = #31708F
$msg-box-color-fg-success = #448245
$msg-box-color-fg-error = #c77270
$msg-box-color-fg-warning = #ba9552

$msg-box-color-bg-info = #D9EDF7
$msg-box-color-bg-success = #e2f1cf
$msg-box-color-bg-error = #fff2f2
$msg-box-color-bg-warning = #fff7db


/* --------------------------------------------- */
/** list **/
$list-item-min-height = 50px
$list-item-padding-h = 15px

