
////////////////////  bx - var  ////////////////////

/* --------------------------------------------- */
/** color **/
$cm-color-link ?= #00aaf1
$cm-color-highlight ?= #ff4466

// theme color
$cm-color-stage ?= #f2f2f2
$cm-color-stage-shadow ?= #ddd
$cm-color-backdrop ?= #999

// more colors
$cm-color-fg-minor = #a3a4a4
$cm-color-fg-light = #7f8487
$cm-color-fg-dark = #111
$cm-color-fg-highlight = #FF8000

$cm-color-x-light-gray = #f6f6f6
$cm-color-light-gray = #eee
$cm-color-gray = #ddd
$cm-color-active-green = #80d032

/* --------------------------------------------- */
/** visual **/

// visual
$cm-border-radius = 5px


/* --------------------------------------------- */
/** text **/

// theme
$bx-fs-headline = 18px
$bx-fs-headline-minor = 16px
$bx-fs-text-minor = 13px

