
////////////////////  bx - var  ////////////////////

/* --------------------------------------------- */
/** color **/

// more colors (besides core colors)
$cm-color-fg-minor = #a3a4a4
$cm-color-fg-light = #7f8487
$cm-color-fg-dark = #111
$cm-color-fg-highlight = #FF8000

$cm-color-link = #0059b2

// theme
$bx-color-x-light-gray = #f6f6f6
$bx-color-light-gray = #eee
$bx-color-gray = #ddd
$bx-color-active-green = #80d032

/* --------------------------------------------- */
/** visual **/

// visual
$cm-border-radius = 5px


/* --------------------------------------------- */
/** text **/

// theme
$bx-fs-headline = 18px
$bx-fs-headline-minor = 16px
$bx-fs-text-minor = 13px

