/** @charset 'utf-8'; **/
/* --------------------------------------------- */
/** btn **/
.cmBtnWrapper {
	padding-bottom: 10px;
	-webkit-tap-highlight-color: transparent;
}
html.dpl .cmBtnWrapper {
	cursor: pointer;  /** fix iOS click event bubbling issue **/
}
.cmList + .cmBtn,
.cmList + .cmBtnWrapper {
	margin-top: 15px;
}

.cmBtn {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 5px;
	padding-right: 5px;
	height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 20px;
	line-height: 38px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	border: 1px solid;
	border-radius: 5px;
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.75), rgba(255,255,255,0));
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.75)), to(rgba(255,255,255,0)));
}
.cmBtn.cmLarge {
	height: 50px;
	line-height: 48px;
	font-size: 24px;
}
.cmBtn.cmSmall {
	font-size: 18px;
	padding-left: 3px;
	padding-right: 3px;
}
/** nav - long text **/
@media (max-width: 479px) {
	.cmBtn.cmLongText {
		font-size: 16px;
	}
	.cmBtn.cmSmall.cmLongText {
		font-size: 14px;
	}
}

.cmBtn {
	color: black;
	text-shadow: 0 1px 0 white;
	border-color: #999;
	background-color: #ccc;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	-webkit-tap-highlight-color: transparent;
}
.cmBtn.cmStrong {
	color: black;
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
	border-color: #c90;
	background-color: #fc0;
}
.cmBtn.cmDangerous {
	color: white;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	border-color: #90040f;
	background-color: #bd1421;
}
.cmBtn.cmNoBorder {
	border-color: transparent !important;
	background-origin: border-box;
}
.cmBtn.cmNoShadow {  /** this is basic style, so it should be put very top, so that to be overridden by :active status **/
	box-shadow: none;
	-webkit-box-shadow: none;
}

/* --------------------------------------------- */
/** icon, text, arrow **/

/** icon + text **/
.cmBtn:not(button) .cmX20,
.cmBtn .cmX20:not(:only-child) {top: 9px;}
.cmBtn:not(button) .cmX30,
.cmBtn .cmX30:not(:only-child) {top: 4px;}
.cmBtn.cmLarge:not(button) .cmX20,
.cmBtn.cmLarge .cmX20:not(:only-child) {top: 14px;}
.cmBtn.cmLarge:not(button) .cmX30,
.cmBtn.cmLarge .cmX30:not(:only-child) {top: 9px;}
.cmBtn.cmLarge:not(button) .cmX40,
.cmBtn.cmLarge .cmX40:not(:only-child) {top: 4px;}

.cmBtn .cmIcon:not(:only-child) {
	display: inline-block;
	margin-right: 0;
	vertical-align: top;
}
.cmBtn .cmX20:not(:only-child) {margin-left: 4px; margin-right: 4px;}
.cmBtn .cmX30:not(:only-child) {margin-left: 0; margin-right: 0;}
.cmBtn.cmLarge .cmX20:not(:only-child) {margin-left: 9px; margin-right: 9px;}
.cmBtn.cmLarge .cmX30:not(:only-child) {margin-left: 4px; margin-right: 4px;}
.cmBtn.cmLarge .cmX40:not(:only-child) {margin-left: 0; margin-right: 0;}

/** arrow **/
.cmBtn.cmBack,
.cmBtn.cmForward,
.cmBtn.cmUpArrow,
.cmBtn.cmDownArrow,
.cmBtn.cmLeftArrow,
.cmBtn.cmRightArrow {
	position: relative;
}
.cmBtn.cmUpArrow,
.cmBtn.cmDownArrow,
.cmBtn.cmRightArrow {padding-right: 20px;}
.cmBtn.cmLeftArrow {padding-left: 20px;}
.cmBtn.cmSmall.cmUpArrow,
.cmBtn.cmSmall.cmDownArrow,
.cmBtn.cmSmall.cmRightArrow {padding-right: 15px;}
.cmBtn.cmSmall.cmLeftArrow {padding-left: 15px;}

.cmBtn.cmUpArrow:after,
.cmBtn.cmDownArrow:after,
.cmBtn.cmLeftArrow:after,
.cmBtn.cmRightArrow:after {
	content: '';
	position: absolute;
	top: 50%;
	color: gray;
	/** border-style: solid; **/  /** can't be put here, cuz arrow will show improper style before js is ready **/
}
.cmBtn.cmUpArrow:after,
.cmBtn.cmDownArrow:after {
	right: 7px;
	margin-top: -4px;
	border-style: solid;
	border-width: 10px 5px 0;
	border-left-color: transparent;
	border-right-color: transparent;
}
.cmBtn.cmUpArrow:after {
	margin-top: -6px;
	border-width: 0 5px 10px;
}
.cmBtn.cmSmall.cmUpArrow:after,
.cmBtn.cmSmall.cmDownArrow:after {
	right: 5px;
	margin-top: -3px;
	border-width: 8px 4px 0;
	border-left-color: transparent;
	border-right-color: transparent;
}
.cmBtn.cmSmall.cmUpArrow:after {
	margin-top: -5px;
	border-width: 0 4px 8px;
}

html.dpl:not(.android-low) .cmBtn.cmLeftArrow:after,
html.dpl:not(.android-low) .cmBtn.cmRightArrow:after {
	right: 9px;
	margin-top: -5px;
	width: 7px;
	height: 7px;
	border-style: solid;
	border-width: 3px 3px 0 0;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
html.dpl:not(.android-low) .cmBtn.cmLeftArrow:after {
	left: 9px;
	border-width: 0 0 3px 3px;
}
html.dpl:not(.android-low) .cmBtn.cmSmall.cmLeftArrow:after {left: 6px;}
html.dpl:not(.android-low) .cmBtn.cmSmall.cmRightArrow:after {right: 6px;}

html.android-low .cmBtn.cmLeftArrow:after,
html.android-low .cmBtn.cmRightArrow:after {
	right: 8px;
	margin-top: -7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 0 7px 7px;
	border-top-color: transparent;
	border-bottom-color: transparent;
}
html.android-low .cmBtn.cmLeftArrow:after {
	left: 8px;
	border-width: 7px 7px 7px 0;
}
html.android-low .cmBtn.cmSmall.cmLeftArrow:after {left: 5px;}
html.android-low .cmBtn.cmSmall.cmRightArrow:after {right: 5px;}

/* --------------------------------------------- */
/** btn suite **/
.cmBtnSuite > h2:first-child,
.cmBtnSuite > h3:first-child,
.cmBtnSuite > h4:first-child,
.cmBtnSuite > h5:first-child,
.cmBtnSuite > h6:first-child {
	margin-bottom: 5px;
}

/* --------------------------------------------- */
/** multiple btn **/
.cmBtnLine,
.cmBtnCombo {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: box;
	display: -moz-box;
	display: -webkit-box;
	width: 100%;  /** @ moz **/
	box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-orient: horizontal;
}
.cmBtnLine > .cmBtn,
.cmBtnLine > .cmBtnSuite,
.cmBtnLine > .cmBtnWrapper,
.cmBtnCombo > input,
.cmBtnCombo > .cmBtn,
.cmBtnCombo > .cmBtnWrapper {
	box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
}

/** cmBtnLine **/
.cmBtnLine > .cmBtn {
	margin-left: 5px;
	margin-right: 5px;
}
.cmBtnLine > .cmBtn:first-child {margin-left: 0;}
.cmBtnLine > .cmBtn:last-child {margin-right: 0;}

.cmBtnLine > .cmBtnSuite,
.cmBtnLine > .cmBtnWrapper {
	padding-left: 5px;
	padding-right: 5px;
}
.cmBtnLine > .cmBtnSuite:first-child,
.cmBtnLine > .cmBtnWrapper:first-child {padding-left: 0;}
.cmBtnLine > .cmBtnSuite:last-child,
.cmBtnLine > .cmBtnWrapper:last-child {padding-right: 0;}

/** cmBtnCombo **/
.cmBtnCombo > input {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
	padding: 10px 7px 8px;
	height: 40px;
	line-height: 20px;
	aa text-align: center;
	color: #385487;
	border: 1px solid #999999;
	border-radius: 5px;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 0px rgba(0,0,0,0.2);
}
.cmBtnCombo > input.cmLarge {
	height: 50px;
	padding: 12px 7px;
}
@media (max-width: 479px) {
	.cmBtnCombo > input {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.cmBtnCombo > input:not(:first-child),
.cmBtnCombo > .cmBtn:not(:first-child),
.cmBtnCombo > .cmBtnWrapper:not(:first-child) .cmBtn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left-width: 0;
}
.cmBtnCombo > input:not(:last-child),
.cmBtnCombo > .cmBtn:not(:last-child),
.cmBtnCombo > .cmBtnWrapper:not(:last-child) .cmBtn {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.cmBtnCombo .cmBtn {
	box-shadow: 0 1px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.2);
}


/* --------------------------------------------- */
/** status **/

/** actived **/
html.dpl .cmBtnWrapper:active .cmBtn,
input.cmBtn:focus,
button.cmBtn:focus,
.cmBtn:active {
	border-color: #666;
	background-color: #999;
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
}
html.dpl .cmBtnWrapper:active .cmBtn.cmStrong,
input.cmBtn.cmStrong:focus,
button.cmBtn.cmStrong:focus,
.cmBtn.cmStrong:active {
	border-color: #960;
	background-color: #c90;
}
html.dpl .cmBtnWrapper:active .cmBtn.cmDangerous,
input.cmBtn.cmDangerous:focus,
button.cmBtn.cmDangerous:focus,
.cmBtn.cmDangerous:active {
	border-color: #6c030b;
	background-color: #90040f;
}

/** current **/
.cmBtnWrapper.current .cmBtn,
.cmBtn.current {
	color: white;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	background-color: gray !important;
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.5) !important;
	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.5) !important;
}
.cmBtnWrapper.current .cmBtn,
.cmBtn.current {
	border-color: #666;
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.25));
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.25)));
}

/** disabled **/
.disabled .cmBtn,
.cmBtn.disabled {
	box-shadow: none;
	-webkit-box-shadow: none;
	opacity: 0.35;
	text-shadow: none;
	background-image: none;
}
html.dpl .cmBtnWrapper.current,
.cmBtn.current,
.disabled .cmBtn,
.cmBtn.disabled,
.disabled .cmBtnWrapper,
.cmBtnWrapper.disabled {
	cursor: default;
	pointer-events: none;
}

/* --------------------------------------------- */
/** form btn **/
input.cmBtn,
button.cmBtn {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 100%;
	cursor: pointer;
}
html.moz input.cmBtn,
html.moz button.cmBtn {
	display: inline-block;
}



/** The End **/
/* --------------------------------------------- */
