/** @charset "utf-8"; **/
/* --------------------------------------------- */
/** icon **/
.cmIcon {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	line-height: 9em;
	overflow: hidden;
	pointer-events: none;
}
a.cmIcon {
	pointer-events: auto;
}
.cmIcon b,
.cmIcon b:before {
	position: absolute;
	border: 0 solid;
}
@-webkit-keyframes loading-spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@keyframes loading-spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

/* --------------------------------------------- */
/** cmX20 **/

/** loading **/
.cmX20.loading-black-bg,
.cmX20.loading-white-bg {
  height: 16px;
  width: 16px;
  border: 2px solid #ddd;
  border-radius: 10px;
  position: relative;
}
.cmX20.loading-black-bg:before,
.cmX20.loading-white-bg:before {
  content: "";
  display: block;
  height: 0px;
  width: 4px;
  border: 1px solid #ddd;
  border-radius: 1px;
  position: absolute;
  top: 7px;
  left: 7px;
  -webkit-transform-origin: 1px center;
  transform-origin: 1px center;
  -webkit-animation: loading-spin 3.6s linear infinite;
  animation: loading-spin 3.6s linear infinite;
}
.cmX20.loading-black-bg:after,
.cmX20.loading-white-bg:after {
  content: "";
  display: block;
  height: 0px;
  width: 6px;
  border: 1px solid #ddd;
  border-radius: 1px;
  position: absolute;
  top: 7px;
  left: 7px;
  -webkit-transform-origin: 1px center;
  transform-origin: 1px center;
  -webkit-animation: loading-spin 1s linear infinite;
  animation: loading-spin 1s linear infinite;
}
.cmX20.loading-white-bg,
.cmX20.loading-white-bg:before,
.cmX20.loading-white-bg:after {
  border-color: #333;
}

/** jump-to-top **/
.cmX20.jump-to-top b:first-child {
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	border-width: 0 10px 10px;
	border-right-color: transparent;
	border-left-color: transparent;
}
.cmX20.jump-to-top b:last-child {
	left: 6px;
	top: 10px;
	width: 0;
	height: 10px;
	border-left-width: 8px;
}

/** back **/
.cmX20.back b:first-child {
	left: 1px;
	top: 2px;
	width: 0;
	height: 0;
	border-width: 8px 8px 8px 0;
	border-top-color: transparent;
	border-bottom-color: transparent;
}
.cmX20.back b:last-child {
	left: 9px;
	top: 6px;
	width: 10px;
	height: 0;
	border-top-width: 8px;
}

/** home **/
.cmX20.home b:first-child {
	left: 0;
	top: 1px;
	width: 0;
	height: 0;
	border-width: 0 10px 10px;
	border-right-color: transparent;
	border-left-color: transparent;
}
.cmX20.home b:last-child {
	left: 4px;
	top: 11px;
	width: 4px;
	height: 5px;
	border-width: 3px 4px 0;
}

/** close **/
.cmX20.close {
	background: #ccc;
	border-radius: 10px;
}
.cmX20.close:before,
.cmX20.close:after {
	content: '';
	position: absolute;
	left: 3px;
	top: 9px;
	width: 12px;
	height: 0;
	border: 1px solid white;
	border-radius: 1px;
}
.cmX20.close:before {
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.cmX20.close:after {
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

/** info **/
.cmX20.info:before,
.cmX20.info:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
}
.cmX20.info:before {
	left: 7px;
	top: 1px;
	border-style: solid;
	border-width: 3px;
	border-radius: 3px;
}
.cmX20.info:after {
	left: 6px;
	top: 9px;
	width: 2px;
	height: 7px;
	border-top: 2px solid;
	border-right: 4px solid;
}
.cmX20.info b:first-child {
	left: 5px;
	top: 18px;
	width: 10px;
	border-bottom: 2px solid;
}

/** add **/
.cmX20.add:before,
.cmX20.add:after {
	content: '';
	position: absolute;
}
.cmX20.add:before {
	left: 1px;
	top: 8px;
	width: 18px;
	height: 0;
	border-bottom: 4px solid;
}
.cmX20.add:after {
	left: 8px;
	top: 1px;
	width: 0;
	height: 18px;
	border-left: 4px solid;
}

/** action **/
.cmX20.action:before,
.cmX20.action:after {
	content: '';
	position: absolute;
	border-style: solid;
}
.cmX20.action:before {
	left: 1px;
	top: 4px;
	width: 2px;
	height: 9px;
	border-right-color: transparent;
	border-width: 2px 2px 0;
}
.cmX20.action:after {
	left: 1px;
	top: 11px;
	width: 15px;
	height: 2px;
	border-top-color: transparent;
	border-width: 2px 2px 2px 0;
}
.cmX20.action b:nth-child(1) {
	left: 5px;
	top: 4px;
	border-left-width: 0;
	border-top-width: 4px;
	width: 9px;
	height: 5px;
	border-top-left-radius: 9px 9px;
}
.cmX20.action b:nth-child(2) {
	left: 14px;
	top: 0px;
	width: 0;
	height: 0;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-width: 6px 0 6px 6px;
}

/* --------------------------------------------- */
/** cmX30 **/

/** loading **/
.cmX30.loading-black-bg,
.cmX30.loading-white-bg {
  height: 26px;
  width: 26px;
  border: 2px solid #ddd;
  border-radius: 15px;
  position: relative;
}
.cmX30.loading-black-bg:before,
.cmX30.loading-white-bg:before {
  content: "";
  display: block;
  height: 0px;
  width: 7px;
  border: 1px solid #ddd;
  border-radius: 1px;
  position: absolute;
  top: 12px;
  left: 12px;
  -webkit-transform-origin: 1px center;
  transform-origin: 1px center;
  -webkit-animation: loading-spin 3.6s linear infinite;
  animation: loading-spin 3.6s linear infinite;
}
.cmX30.loading-black-bg:after,
.cmX30.loading-white-bg:after {
  content: "";
  display: block;
  height: 0px;
  width: 11px;
  border: 1px solid #ddd;
  border-radius: 1px;
  position: absolute;
  top: 12px;
  left: 12px;
  -webkit-transform-origin: 1px center;
  transform-origin: 1px center;
  -webkit-animation: loading-spin 1s linear infinite;
  animation: loading-spin 1s linear infinite;
}
.cmX30.loading-white-bg,
.cmX30.loading-white-bg:before,
.cmX30.loading-white-bg:after {
  border-color: #333;
}

/** home **/
.cmX30.home b:first-child {
	left: 0;
	top: 1px;
	width: 0;
	height: 0;
	border-width: 0 15px 15px;
	border-right-color: transparent;
	border-left-color: transparent;
}
.cmX30.home b:last-child {
	left: 6px;
	top: 16px;
	width: 6px;
	height: 8px;
	border-width: 4px 6px 0;
}

/** ellipsis **/
.cmX30.ellipsis b {
	top: 12px;
	width: 0;
	height: 0;
	border-width: 3px;
	border-radius: 3px;
}
.cmX30.ellipsis b:nth-child(1) {left: 2px;}
.cmX30.ellipsis b:nth-child(2) {left: 12px;}
.cmX30.ellipsis b:nth-child(3) {left: 22px;}

/** search **/
.cmX30.search b:first-child {
	top: 4px;
	left: 4px;
	width: 12px;
	height: 12px;
	border-width: 2px;
	border-radius: 8px;
}
.cmX30.search b:last-child {
	top: 19px;
	left: 16px;
	width: 8px;
	height: 0;
	border-width: 2px;
	border-radius: 2px;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

/** user **/
.cmX30.user b:first-child {
	top: 4px;
	left: 9px;
	width: 0;
	height: 0;
	border-width: 6px;
	border-radius: 6px;
}
.cmX30.user b:last-child {
	top: 17px;
	left: 4px;
	width: 14px;
	height: 0;
	border-width: 4px;
	border-radius: 6px 6px 1px 1px;
}

/** user-outline **/
.cmX30.user-outline b:first-child {
	top: 3px;
	left: 8px;
	width: 10px;
	height: 10px;
	border-width: 2px;
	border-radius: 7px;
}
.cmX30.user-outline b:last-child {
	top: 16px;
	left: 3px;
	width: 20px;
	height: 6px;
	border-width: 2px;
	border-radius: 6px 6px 2px 2px;
}

/** notice **/
.cmX30.notice:before,
.cmX30.notice:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
}
.cmX30.notice:before {
	left: 5px;
	top: 8px;
	width: 1px;
	border-style: solid;
	border-width: 7px 0 7px 7px;
	border-radius: 2px 0 0 2px;
}
.cmX30.notice:after {
	left: 15px;
	top: 1px;
	height: 14px;
	border-style: solid;
	border-width: 7px 7px 7px 0;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

/** info **/
.cmX30.info:before,
.cmX30.info:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
}
.cmX30.info:before {
	left: 11px;
	top: 3px;
	border-style: solid;
	border-width: 4px;
	border-radius: 4px;
}
.cmX30.info:after {
	left: 9px;
	top: 13px;
	width: 3px;
	height: 10px;
	border-top: 2px solid;
	border-right: 6px solid;
}
.cmX30.info b:first-child {
	left: 8px;
	top: 25px;
	width: 14px;
	border-bottom: 2px solid;
}

/** close **/
.cmX30.close {
	background: #ccc;
	border-radius: 15px;
}
.cmX30.close:before,
.cmX30.close:after {
	content: '';
	position: absolute;
	left: 6px;
	top: 14px;
	width: 16px;
	height: 0;
	border: 1px solid white;
	border-radius: 1px;
}
.cmX30.close:before {
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.cmX30.close:after {
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}



/* --------------------------------------------- */
/** cmX40 **/

/** loading **/
.cmX40.loading-black-bg,
.cmX40.loading-white-bg {
  height: 34px;
  width: 34px;
  border: 3px solid #ddd;
  border-radius: 20px;
  position: relative;
}
.cmX40.loading-black-bg:before,
.cmX40.loading-white-bg:before {
  content: "";
  display: block;
  height: 0px;
  width: 9px;
  border: 2px solid #ddd;
  border-radius: 2px;
  position: absolute;
  top: 15px;
  left: 15px;
  -webkit-transform-origin: 2px center;
  transform-origin: 2px center;
  -webkit-animation: loading-spin 3.6s linear infinite;
  animation: loading-spin 3.6s linear infinite;
}
.cmX40.loading-black-bg:after,
.cmX40.loading-white-bg:after {
  content: "";
  display: block;
  height: 0px;
  width: 14px;
  border: 2px solid #ddd;
  border-radius: 2px;
  position: absolute;
  top: 15px;
  left: 15px;
  -webkit-transform-origin: 2px center;
  transform-origin: 2px center;
  -webkit-animation: loading-spin 1s linear infinite;
  animation: loading-spin 1s linear infinite;
}
.cmX40.loading-white-bg,
.cmX40.loading-white-bg:before,
.cmX40.loading-white-bg:after {
  border-color: #333;
}

/** jump-to-top **/
.cmX40.jump-to-top b:first-child {
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	border-width: 0 20px 20px;
	border-right-color: transparent;
	border-left-color: transparent;
}
.cmX40.jump-to-top b:last-child {
	left: 12px;
	top: 20px;
	width: 0;
	height: 20px;
	border-left-width: 16px;
}

/** close **/
.cmX40.close {
	background: #ccc;
	border-radius: 20px;
}
.cmX40.close:before,
.cmX40.close:after {
	content: '';
	position: absolute;
	left: 6px;
	top: 18px;
	width: 24px;
	height: 0;
	border: 2px solid white;
	border-radius: 2px;
}
.cmX40.close:before {
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.cmX40.close:after {
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

/* --------------------------------------------- */
/** cmX50 **/

/** loading **/
.cmX50.loading-black-bg,
.cmX50.loading-white-bg {
  height: 44px;
  width: 44px;
  border: 3px solid #ddd;
  border-radius: 25px;
  position: relative;
}
.cmX50.loading-black-bg:before,
.cmX50.loading-white-bg:before {
  content: "";
  display: block;
  height: 0px;
  width: 12px;
  border: 2px solid #ddd;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-transform-origin: 2px center;
  transform-origin: 2px center;
  -webkit-animation: loading-spin 3.6s linear infinite;
  animation: loading-spin 3.6s linear infinite;
}
.cmX50.loading-black-bg:after,
.cmX50.loading-white-bg:after {
  content: "";
  display: block;
  height: 0px;
  width: 18px;
  border: 2px solid #ddd;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  left: 20px;
  -webkit-transform-origin: 2px center;
  transform-origin: 2px center;
  -webkit-animation: loading-spin 1s linear infinite;
  animation: loading-spin 1s linear infinite;
}
.cmX50.loading-white-bg,
.cmX50.loading-white-bg:before,
.cmX50.loading-white-bg:after {
  border-color: #333;
}


/** The End **/
/* --------------------------------------------- */
