@charset 'utf-8';
/* --------------------------------------------- */
/** reset **/
html,body,div,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,p,blockquote,pre,address,
embed,object,iframe,img,audio,video,canvas,hr,
form,fieldset,legend,label,input,button,textarea,select,table,caption,tfoot,thead,tbody,tr,th,td,
article,aside,header,footer,hgroup,section,summary,nav,dialog,
details,figcaption,figure,menu,meter,output,progress,time,mark {margin:0;padding:0;}

embed,object,iframe,img,audio,video,canvas,
article,aside,header,footer,hgroup,section,summary,nav,dialog,details,figcaption,figure,menu {display:block;}

h1,h2,h3,h4,h5,h6 {font-size:100%;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border-style:none;}
abbr,dfn {border-style:none;font-variant:inherit;}
blockquote,address,abbr,dfn,cite,q,code,var,kbd,samp,del,ins,sub,sup,s,i,optgroup,em,mark,small {font-style:inherit;font-weight:inherit;}
input,button,textarea,select,optgroup,option,small {font-size:100%;font-family:inherit;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none;}
ul,ol,menu {list-style:none outside;}
svg:not(:root) {overflow:hidden;}

/** basic style **/
html {height:100%;}
body {min-height:100%;}
html {overflow-y:scroll;-webkit-text-size-adjust: 100%;}
pre,code,var,kbd,samp {font-size:100%;font-family:Consolas,monospace;}
pre {white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
label[for] {cursor:pointer;}
abbr[title],dfn[title] {border-bottom:1px dotted;cursor:help;}
hr {display:block;height:0;border-style:none;border-top:1px solid #ccc;background-color:transparent;}
mark {background-color:#ff9;}
audio:not([controls]) {display:none;}
[hidden] {display:none;}
sup,sub {position:relative;font-size:75%;line-height:1;vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
img {-ms-interpolation-mode:bicubic;}


/** The End **/
/* --------------------------------------------- */

