/** @charset 'utf-8'; **/
/* --------------------------------------------- */
/** list header **/
.cmListHeader {
	padding-bottom: 10px;
	height: 38px;
	line-height: 38px;
	white-space: nowrap;
	border: 1px solid #333;
	border-bottom: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: inset 0 1px 0 #ccc;
	-webkit-box-shadow: inset 0 1px 0 #ccc;
	background-color: #666;
	background-image: -moz-linear-gradient(top, gray, black);
	background-image: -webkit-gradient(linear, center top, center bottom, from(gray), to(black));
	background-image: -moz-linear-gradient(top, #999, #333);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#999), to(#333));
}
.cmListHeader + .cmList {
	margin-top: -10px;
}
.cmListHeader > h1,
.cmListHeader > h2,
.cmListHeader > h3,
.cmListHeader > h4,
.cmListHeader > h5,
.cmListHeader > h6 {
	padding: 0 10px;
	margin-right: 30%;
	margin-bottom: 0;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}
.cmListHeader > .cmRight.cmBtnWrapper {
	position: relative;
	z-index: 30;
	float: right;
	margin-top: -39px;
	margin-right: -1px;
	margin-bottom: -20px;
	padding: 5px 6px 15px 0;
	width: 30%;
}
.cmListHeader > .cmRight.cmBtnWrapper .cmBtn {float: right; max-width: 86.45%;}

.cmListHeader .cmBtn {
	padding: 0 8px;
	height: 29px;
	font-size: 14px;
	font-weight: 700;
	line-height: 27px;
	background-color: #aaa;  /** => btn arrow fg **/
	border-color: black;  /** => btn arrow bg **/
	box-shadow: 0 1px 0 rgba(255,255,255,.25);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.25);  /** => btn arrow shadow **/
}
html.dpl .cmListHeader .cmBtnWrapper:active .cmBtn {
	background-color: #666;  /** => btn arrow fg :active **/
	border-color: black;  /** => btn arrow bg **/
	box-shadow: 0 1px 0 rgba(255,255,255,.25);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.25);  /** => btn arrow shadow **/
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

/* --------------------------------------------- */
/** list **/
.cmList {
	border-radius: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	background-color: white;
	text-shadow: none;
}
h2 + .cmList,
h3 + .cmList,
h4 + .cmList {margin-top: 5px;}
.cmList + .cmList {margin-top: 15px;}

.cmList + h2,
.cmList + h3,
.cmList + h4 {margin-top: 15px;}

.cmList > li {
	min-height: 44px;
	white-space: nowrap;
	border: 1px solid;
	border-bottom-width: 0;
	border-color: #999;
}
.cmList.cmLarge > li {
	height: 50px;
}
.cmList[data-action-list] > li,
.cmList > li[data-badge],
.cmList > li[data-value],
.cmList > li[data-descr],
.cmList.cmHasDetail > li,
.cmList > li.cmHasDetail,
.cmList.cmDeletable > li,
.cmList > li.cmDeletable {
	position: relative;
}
.cmList.filtered > li.filtered.first,
.cmList          > li:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.cmList.filtered > li.filtered.last,
.cmList          > li:last-child {
	border-bottom-width: 1px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.cmList.filtered > li {display: none;}
.cmList.filtered > li.filtered {display: block;}

/** list - content **/
.cmList > li > :first-child {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	min-height: 44px;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 24px;
}
.cmList > li > a:first-child {
	position: relative;
	z-index: 10;
	font-weight: 700;
	color: inherit;
	text-decoration: none;
	background-color: #ddd;
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.75), rgba(255,255,255,0));
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.75)), to(rgba(255,255,255,0)));
	box-shadow: inset 0 1px 0 white;
	-webkit-box-shadow: inset 0 1px 0 white;
	text-shadow: 0 1px 0 white;
	-webkit-tap-highlight-color: transparent;
	/** -webkit-touch-callout: none; **/  /** leave this to [data-action] **/
}
.cmList.cmLarge > li > :first-child {
	font-size: 20px;
	line-height: 30px;
}
.cmList > li.cmHasIcon > :first-child,
.cmList.cmHasIcon > li > :first-child {position: relative;}

html.mouse .cmList > li > a:first-child:hover {
	background-color: #ccc;  /** darker **/
}
html.mouse .cmList > li > a:first-child:focus,
           .cmList > li > a:first-child:active {
	background-color: #ccc;
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.25));
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.25)));
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.cmList > li.current > a:first-child {
	background-color: #999 !important;
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.25));
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.25)));
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.cmList.filtered > li.filtered.first > :first-child,
.cmList          > li:first-child    > :first-child {
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}
.cmList.filtered > li.filtered.last > :first-child,
.cmList          > li:last-child    > :first-child {
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}


/* --------------------------------------------- */
/** icon **/
.cmList > li > :first-child > .cmIcon {
	display: none;
}
.cmList > li.cmHasIcon > :first-child > .cmIcon,
.cmList.cmHasIcon > li > :first-child > .cmIcon {
	display: block;
	position: absolute;
	top: 50%;
	margin-left: -40px;
}
.cmList > li.cmNoIcon > :first-child > .cmIcon,
.cmList.cmNoIcon > li > :first-child > .cmIcon {
	display: none;
}
.cmList > li.cmHasIcon > :first-child > .cmIcon.cmX30,
.cmList.cmHasIcon > li > :first-child > .cmIcon.cmX30 {margin-top: -15px;}
.cmList > li.cmHasIcon > :first-child > .cmIcon.cmX20,
.cmList.cmHasIcon > li > :first-child > .cmIcon.cmX20 {margin-top: -10px;}

/* --------------------------------------------- */
/** arrow **/
.cmList > li.cmNoArrow > :first-child:after,
.cmList.cmNoArrow > li > :first-child:after {
	display: none;
}
.cmList > li.cmRightArrow > :first-child:after,
.cmList.cmRightArrow > li > :first-child:after,
.cmList > li.cmLeftArrow > :first-child:after,
.cmList.cmLeftArrow > li > :first-child:after {
	position: absolute;
	content: '';
	color: gray;
	/** border-style: solid; **/  /** can't be put here, cuz arrow will show improper style before js is ready **/
}

/** right arrow **/
html.dpl:not(.android-low) .cmList              > li.cmRightArrow      > :first-child:after,
html.dpl:not(.android-low) .cmList.cmRightArrow > li:not(.cmLeftArrow) > :first-child:after {
	right: 13px;
	top: 50%;
	margin-top: -5px;
	width: 7px;
	height: 7px;
	border-style: solid;
	border-width: 3px 3px 0 0;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
html.android-low .cmList              > li.cmRightArrow      > :first-child:after,
html.android-low .cmList.cmRightArrow > li:not(.cmLeftArrow) > :first-child:after {
	right: 11px;
	top: 50%;
	margin-top: -7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 0 7px 7px;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

/** left arrow **/
html.dpl:not(.android-low) .cmList             > li.cmLeftArrow        > :first-child:after,
html.dpl:not(.android-low) .cmList.cmLeftArrow > li:not(.cmRightArrow) > :first-child:after {
	left: 13px;
	top: 50%;
	margin-top: -5px;
	width: 7px;
	height: 7px;
	border-style: solid;
	border-width: 0 0 3px 3px;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
html.android-low .cmList             > li.cmLeftArrow        > :first-child:after,
html.android-low .cmList.cmLeftArrow > li:not(.cmRightArrow) > :first-child:after {
	left: 11px;
	top: 50%;
	margin-top: -7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 7px 7px 0;
	border-top-color: transparent;
	border-bottom-color: transparent;
}


/* --------------------------------------------- */
/** detail btn **/
.cmList.cmHasDetail > li > a:nth-child(2),
.cmList > li.cmHasDetail > a:nth-child(2) {
	position: absolute;
	z-index: 30;
	top: 0;
	right: 0;
	padding-left: 45px;  /** to hide text **/
	width: 0;  /** to hide text **/
	height: 100%;
	font-size: 0;  /** to hide text **/
	overflow: hidden;  /** to hide text **/
	color: transparent;  /** to hide text **/
	-webkit-tap-highlight-color: transparent;
}

/** anim **/
.cmList.cmHasDetail > li > a:nth-child(2),
.cmList > li.cmHasDetail > a:nth-child(2) {
	-webkit-transform: translate3d(0, 0, 0);  /** 3d acceleration **/
	opacity: 1;
	pointer-events: auto;
	-moz-transition: opacity .20s linear;
	-webkit-transition: opacity .20s linear;
}
.cmList.cmDeletable > li.ready-to-delete > a:nth-child(2),
.cmList > li.cmDeletable.ready-to-delete > a:nth-child(2),
.cmList.cmDeletable > li.deleted > a:nth-child(2),
.cmList > li.cmDeletable.deleted > a:nth-child(2),
.cmList > li.current > a:nth-child(2) {
	opacity: 0;
	pointer-events: none;
	-moz-transition: opacity .15s linear;
	-webkit-transition: opacity .15s linear;
}

/** btn **/
.cmList.cmHasDetail > li > a:nth-child(2):before,
.cmList > li.cmHasDetail > a:nth-child(2):before {
	content: '';
	position: absolute;
	right: 10px;
	top: 50%;
	width: 20px;
	height: 20px;
	margin-top: -12px;
	border: 2px solid white;
	border-radius: 12px;
	background-color: #236ed8;
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.4), rgba(255,255,255,0.2) 50%, transparent 50%, transparent);
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0.4)), to(transparent), color-stop(50%, rgba(255,255,255,0.2)), color-stop(50%, transparent));
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.cmList.cmHasDetail > li > a:nth-child(2):active:before,
.cmList > li.cmHasDetail > a:nth-child(2):active:before {
	background-color: #11366b;
}
.cmList.cmHasDetail > li > a:nth-child(2):after,
.cmList > li.cmHasDetail > a:nth-child(2):after {
	content: '';
	position: absolute;
	color: white;
}
html.dpl:not(.android-low) .cmList.cmHasDetail > li > a:nth-child(2):after,
html.dpl:not(.android-low) .cmList > li.cmHasDetail > a:nth-child(2):after {
	right: 18px;
	top: 50%;
	margin-top: -5px;
	width: 7px;
	height: 7px;
	border-style: solid;
	border-width: 3px 3px 0 0;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
html.android-low .cmList > li.cmHasDetail > a:nth-child(2):after,
html.android-low .cmList.cmHasDetail > li > a:nth-child(2):after {
	right: 17px;
	top: 50%;
	margin-top: -7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 0 7px 7px;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.cmList.filtered.cmHasDetail > li.filtered.first > a:nth-child(2),
.cmList.cmHasDetail          > li:first-child > a:nth-child(2) ,
.cmList.filtered > li.cmHasDetail.filtered.first > a:nth-child(2),
.cmList          > li.cmHasDetail:first-child > a:nth-child(2) {
	border-top-right-radius: 9px;
}
.cmList.filtered.cmHasDetail > li.filtered.last > a:nth-child(2),
.cmList.cmHasDetail          > li:last-child > a:nth-child(2),
.cmList.filtered > li.cmHasDetail.filtered.last > a:nth-child(2),
.cmList          > li.cmHasDetail:last-child > a:nth-child(2) {
	border-bottom-right-radius: 9px;
}

/* --------------------------------------------- */
/** qty **/
.cmList > li[data-badge]:after {
	content: attr(data-badge);
	position: absolute;
	z-index: 20;
	top: 50%;
	right: 10px;
	margin-top: -10px;
	padding: 0 5px;
	min-width: 20px;
	height: 20px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	color: white;
	background-color: #7b8585;
	background-image: -moz-linear-gradient(top, #b5bdbe, #7b8585);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#b5bdbe), to(#7b8585));
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 white;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 white;
	border-radius: 10px;
	pointer-events: none;
}
.cmList.cmRightArrow > li[data-badge]:after,
.cmList > li[data-badge].cmRightArrow:after {right: 30px;}
.cmList.cmRightArrow > li[data-badge].cmLeftArrow:after,
.cmList > li[data-badge].cmNoArrow:after {right: 10px;}
.cmList.cmHasDetail > li[data-badge]:after,
.cmList > li[data-badge].cmHasDetail:after {right: 45px;}


/* --------------------------------------------- */
/** option + value **/
.cmList > li[data-value]:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	content: attr(data-value);
	position: absolute;
	z-index: 20;
	top: 50%;
	right: 0;
	margin-top: -12px;  /** line-height / 2 **/
	padding-right: 10px;
	max-width: 60%;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
	color: #808080;
	pointer-events: none;
}
.cmList > li[data-value][data-descr]:after {top: 6px; margin-top: 0;}

.cmList > li[data-value].cmHasLeftBox:after,
.cmList.cmHasLeftBox > li[data-value]:after,
.cmList > li[data-value].cmHasIcon:after,
.cmList.cmHasIcon > li[data-value]:after {max-width: 50%;}
.cmList.cmHasIcon > li[data-value].cmNoIcon:after {max-width: 60%;}

.cmList.cmRightArrow > li[data-value]:after,
.cmList > li[data-value].cmRightArrow:after {padding-right: 30px;}
.cmList.cmRightArrow > li[data-value].cmLeftArrow:after,
.cmList > li[data-value].cmNoArrow:after {padding-right: 10px;}
.cmList.cmHasDetail > li[data-value]:after,
.cmList > li[data-value].cmHasDetail:after {padding-right: 45px;}


/* --------------------------------------------- */
/** title + descr **/
.cmList > li[data-descr] > :first-child {
	padding-top: 6px;
	padding-bottom: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 700;
}
.cmList > li[data-descr]:before {
	content: attr(data-descr);
	position: absolute;
	z-index: 30;
	top: 32px;
	left: 10px;
	right: 10px;
	line-height: 1.2;
	font-size: 12px;
	font-weight: 400;
	color: #808080;
	overflow: hidden;
	text-overflow: ellipsis;
	pointer-events: none;
}
.cmList.cmHasLeftBox > li[data-descr]:before,
.cmList > li[data-descr].cmHasLeftBox:before {left: 40px;}
.cmList > li[data-descr].cmHasIcon:before,
.cmList.cmHasIcon > li[data-descr]:before {left: 50px;}
.cmList.cmHasIcon > li[data-descr].cmNoIcon:before {left: 10px;}

.cmList > li[data-descr].cmRightArrow:before,
.cmList.cmRightArrow > li[data-descr]:before {right: 30px;}
.cmList > li[data-descr].cmLeftArrow:before,
.cmList.cmLeftArrow > li[data-descr]:before {left: 30px;}

.cmList.cmHasIcon.cmLeftArrow > li[data-descr]:before,
.cmList.cmHasIcon > li[data-descr].cmLeftArrow:before,
.cmList.cmLeftArrow > li[data-descr].cmHasIcon:before,
.cmList > li[data-descr].cmLeftArrow.cmHasIcon:before {left: 70px;}

.cmList.cmRightArrow > li[data-descr].cmNoArrow:before,
.cmList.cmRightArrow > li[data-descr].cmLeftArrow:before {right: 10px;}
.cmList.cmLeftArrow > li[data-descr].cmNoArrow:before,
.cmList.cmLeftArrow > li[data-descr].cmRightArrow:before {left: 10px;}

.cmList.cmLeftArrow > li[data-descr].cmHasIcon.cmNoArrow:before,
.cmList.cmLeftArrow > li[data-descr].cmHasIcon.cmRightArrow:before,
.cmList.cmHasIcon.cmLeftArrow > li[data-descr].cmNoArrow:before,
.cmList.cmHasIcon.cmLeftArrow > li[data-descr].cmRightArrow:before {left: 50px;}

.cmList.cmHasIcon.cmLeftArrow > li[data-descr].cmNoIcon:before,
.cmList.cmHasIcon > li[data-descr].cmLeftArrow.cmNoIcon:before {left: 30px;}

.cmList.cmHasDetail > li[data-descr]:before,
.cmList > li[data-descr].cmHasDetail:before {right: 40px;}

.cmList > li[data-descr][data-badge]:before,
.cmList.cmRightArrow > li[data-descr][data-badge].cmNoArrow:before,
.cmList.cmRightArrow > li[data-descr][data-badge].cmLeftArrow:before {right: 55px;}
.cmList > li[data-descr][data-badge].cmRightArrow:before,
.cmList.cmRightArrow > li[data-descr][data-badge]:before {right: 75px;}
.cmList.cmHasDetail > li[data-descr][data-badge]:before,
.cmList > li[data-descr][data-badge].cmHasDetail:before {right: 90px;}

/* --------------------------------------------- */
/** padding **/
.cmList > li > :first-child {padding: 10px;}

.cmList > li.cmHasIcon > :first-child,
.cmList.cmHasIcon > li > :first-child {padding-left: 50px;}
.cmList.cmHasIcon > li.cmNoIcon > :first-child {padding-left: 10px;}

.cmList > li.cmRightArrow > :first-child,
.cmList.cmRightArrow > li > :first-child {padding-right: 30px;}
.cmList > li.cmLeftArrow > :first-child,
.cmList.cmLeftArrow > li > :first-child {padding-left: 30px;}

.cmList.cmHasIcon.cmLeftArrow > li > :first-child,
.cmList.cmHasIcon > li.cmLeftArrow > :first-child,
.cmList.cmLeftArrow > li.cmHasIcon > :first-child,
.cmList > li.cmLeftArrow.cmHasIcon > :first-child {padding-left: 70px;}

.cmList.cmRightArrow > li.cmNoArrow > :first-child,
.cmList.cmRightArrow > li.cmLeftArrow > :first-child {padding-right: 10px;}
.cmList.cmLeftArrow > li.cmNoArrow > :first-child,
.cmList.cmLeftArrow > li.cmRightArrow > :first-child {padding-left: 10px;}

.cmList.cmLeftArrow > li.cmHasIcon.cmNoArrow > :first-child,
.cmList.cmLeftArrow > li.cmHasIcon.cmRightArrow > :first-child,
.cmList.cmHasIcon.cmLeftArrow > li.cmNoArrow > :first-child,
.cmList.cmHasIcon.cmLeftArrow > li.cmRightArrow > :first-child {padding-left: 50px;}

.cmList.cmHasIcon.cmLeftArrow > li.cmNoIcon > :first-child,
.cmList.cmHasIcon > li.cmLeftArrow.cmNoIcon > :first-child {padding-left: 30px;}
.cmList.cmHasIcon.cmLeftArrow > li.cmNoIcon.cmNoArrow > :first-child,
.cmList.cmHasIcon.cmLeftArrow > li.cmNoIcon.cmRightArrow > :first-child {padding-left: 10px;}

.cmList.cmHasDetail > li > :first-child,
.cmList > li.cmHasDetail > :first-child {padding-right: 40px;}

.cmList > li[data-badge] > :first-child,
.cmList.cmRightArrow > li[data-badge].cmNoArrow > :first-child,
.cmList.cmRightArrow > li[data-badge].cmLeftArrow > :first-child {padding-right: 55px;}
.cmList > li[data-badge].cmRightArrow > :first-child,
.cmList.cmRightArrow > li[data-badge] > :first-child {padding-right: 75px;}
.cmList.cmHasDetail > li[data-badge] > :first-child,
.cmList > li[data-badge].cmHasDetail > :first-child {padding-right: 90px;}

.cmList > li[data-value] > :first-child,
.cmList.cmRightArrow > li[data-value].cmNoArrow > :first-child,
.cmList.cmRightArrow > li[data-value].cmLeftArrow > :first-child,
.cmList > li[data-value].cmRightArrow > :first-child,
.cmList.cmRightArrow > li[data-value] > :first-child,
.cmList.cmHasDetail > li[data-value] > :first-child,
.cmList > li[data-value].cmHasDetail > :first-child {padding-right: 62%;}
.cmList > li[data-value].cmHasLeftBox > :first-child,
.cmList.cmHasLeftBox > li[data-value] > :first-child,
.cmList > li[data-value].cmHasIcon > :first-child,
.cmList.cmHasIcon > li[data-value] > :first-child {padding-right: 52%;}
.cmList.cmHasIcon > li[data-value].cmNoIcon > :first-child {padding-left: 62%;}


/* --------------------------------------------- */
/** deletable **/
.cmList.cmDeletable > li,
.cmList > li.cmDeletable {
	-webkit-transform: translate3d(0, 0, 0);  /** 3d acceleration **/
}
html.touch .cmList.cmDeletable > li,
html.touch .cmList > li.cmDeletable {
	cursor: pointer;  /** to make list item to listen click event, then to hide delete btn **/
}

/** delete btn **/
.cmList li div.cmBtnWrapper.delete {
	display: box;
	display: -moz-box;
	display: -webkit-box;
	box-align: center;
	-moz-box-align: center;
	-webkit-box-align: center;
	position: absolute;
	z-index: 30;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0;
	overflow: hidden;
	aa -webkit-transform: translate3d(0, 0, 0);  /** 3d acceleration **/
}
.cmList li div.cmBtnWrapper.delete .cmBtn {
	margin: 0 8px 0 10px;
	padding: 0 10px;
	height: 32px;
	min-width: 52px;
	font-size: 14px;
	line-height: 30px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-transform: translate3d(0, 0, 0);  /** 3d acceleration **/
}
html.moz .cmList li div.cmBtnWrapper.delete {
	display: block;
}
html.moz .cmList li div.cmBtnWrapper.delete .cmBtn {
	position: relative;
	top: 50%;
	margin-top: -16px;
}

.cmList li div.cmBtnWrapper.delete .cmBtn .cmX20 {
	top: 5px;
}

/** status **/
.cmList li div.cmBtnWrapper.delete {
	opacity: 0;
	pointer-events: none;
}
.cmList li.ready-to-delete div.cmBtnWrapper.delete {
	opacity: 1;
	pointer-events: auto;
}
.cmList li.deleted div.cmBtnWrapper.delete {
	opacity: 1;
}
.cmList li.deleted {
	opacity: 0;
	pointer-events: none;
	-moz-transition: all .25s linear;
	-webkit-transition: all .25s linear;
	-moz-transform: translate(-100%, 0);
	-webkit-transform: translate3d(-100%, 0, 0);  /** 3d acceleration **/
}

/** The End **/
/* --------------------------------------------- */
