/** @charset "utf-8"; **/
/* --------------------------------------------- */
/** notice **/
.cmSiteNoticeWrapper {
	padding: 5px;
}
.cmSiteNoticeWrapper .cmSiteNotice {
	position: relative;
	padding: 4px;
	min-height: 30px;
	color: black;
	border-radius: 10px;
	border: 1px solid #00B7EF;
	background-color: #CCF1FC;
}


/** box arrow **/
.cmSiteNoticeWrapper .cmSiteNotice:before,
.cmSiteNoticeWrapper .cmSiteNotice:after {
	content: '';
	position: absolute;
	left: 70px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-width: 0;
}
.cmSiteNoticeWrapper .cmSiteNotice:before {
	bottom: -11px;
	border-top-color: #00B7EF;
}
.cmSiteNoticeWrapper .cmSiteNotice:after {
	bottom: -9px;
	border-top-color: #CCF1FC;
}

/** icon **/
.cmSiteNoticeWrapper div.icon {
	float: left;
	width: 30px;
	height: 30px;
	color: white;
	background: #00B7EF;
	border-radius: 5px;
}
.cmSiteNoticeWrapper div.icon i.cmIcon {
	margin: 0 auto;
	margin-top: 5px;
}

/** close btn **/
.cmSiteNoticeWrapper div.act {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 40px;
	height: 40px;
}
.cmSiteNoticeWrapper div.act a {
	display: block;
	padding: 10px;
}

/** content **/
.cmSiteNoticeWrapper div.content {
	margin: 0 40px 0 40px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.cmSiteNoticeWrapper div.content a {
	text-decoration: underline;
	padding: 8px 5px;
}
.cmSiteNoticeWrapper div.content span {
	white-space: nowrap;
}
.cmSiteNoticeWrapper div.content a.cmAction {
	white-space: nowrap;
}


/* --------------------------------------------- */
/** tip-box **/
.cmTipBox {
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0 auto;
	max-width: 300px;
	border-radius: 10px;
	border: 1px solid #999;
	background-color: #ddd;
	background-image: -moz-linear-gradient(top, white, #eee 66%, #ddd);
	background-image: -webkit-gradient(linear, center top, center bottom, from(white), to(#ddd), color-stop(66%, #eee));
	text-shadow: 0 1px 0 white;
	box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
.cmTipBox > .cmTipBoxInner {
	padding: 5px;
}

/** header **/
.cmTipBox > header + .cmTipBoxInner {
	padding-top: 0;
}
.cmTipBox > header {
	padding: 0 10px;
	height: 42px;
	line-height: 42px;
	overflow: hidden;
	white-space: nowrap;
}
.cmTipBox > .cmTipBoxBtnClose ~ header {
	margin-right: 40px;
}
.cmTipBox > header h1,
.cmTipBox > header h2,
.cmTipBox > header h3,
.cmTipBox > header h4,
.cmTipBox > header h5,
.cmTipBox > header h6 {
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	font-size: 20px;
}

/** close **/
.cmTipBox .cmTipBoxBtnClose {
	position: absolute;
	top: 0;
	right: 0;
}
.cmTipBox .cmTipBoxBtnClose a {
	display: block;
	padding: 10px;
}

/** box arrow **/
.cmTipBox .cmTipBoxArrow,
.cmTipBox .cmTipBoxArrow:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	pointer-events: none;
}

.cmTipBox.cmUpArrow .cmTipBoxArrow {
	left: 50%;
	top: -11px;
	margin-left: -10px;
	border-top-width: 0;
	border-bottom-color: inherit;  /** ref to cmTipBox's border-color **/
}
.cmTipBox.cmUpArrow .cmTipBoxArrow:after {
	left: -10px;
	top: 2px;
	border-top-width: 0;
	border-bottom-color: white;  /** ref to cmTipBox's bg **/
}

.cmTipBox.cmDownArrow .cmTipBoxArrow {
	left: 50%;
	bottom: -11px;
	margin-left: -10px;
	border-bottom-width: 0;
	border-top-color: inherit;  /** ref to cmTipBox's border-color **/
}
.cmTipBox.cmDownArrow .cmTipBoxArrow:after {
	left: -10px;
	bottom: 2px;
	border-bottom-width: 0;
	border-top-color: #ddd;  /** ref to cmTipBox's darker side of gradient **/
}

.cmTipBox.cmLeftArrow .cmTipBoxArrow {
	top: 50%;
	left: -11px;
	margin-top: -10px;
	border-left-width: 0;
	border-right-color: inherit;  /** ref to cmTipBox's border-color **/
}
.cmTipBox.cmLeftArrow .cmTipBoxArrow:after {
	top: -10px;
	left: 2px;
	border-left-width: 0;
	border-right-color: #eee;  /** ref to cmTipBox's inner color of gradient **/
}

.cmTipBox.cmRightArrow .cmTipBoxArrow {
	top: 50%;
	right: -11px;
	margin-top: -10px;
	border-right-width: 0;
	border-left-color: inherit;  /** ref to cmTipBox's border-color **/
}
.cmTipBox.cmRightArrow .cmTipBoxArrow:after {
	top: -10px;
	right: 2px;
	border-right-width: 0;
	border-left-color: #eee;  /** ref to cmTipBox's inner color of gradient **/
}

/* --------------------------------------------- */
/** list-with-action **/
.cmTipBox {opacity: 1;}

.cmTipBox.cmActionList {
	position: absolute;
	z-index: 50;
	top: 0;
	width: 98%;
	max-width: none;
	border-color: black;
	background-color: #333;
	background-image: -moz-linear-gradient(top, #999, #666 66%, #333);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#999), to(#333), color-stop(66%, #666));
	color: white;
	text-shadow: 0 -1px 0 black;
}
aa .cmTipBox.cmActionList {  /** debug **/
	position: relative !important;
	opacity: 1 !important;
	pointer-events: auto !important;
}
li .cmTipBox.cmActionList {
	top: auto;
	left: 50%;
	bottom: 80%;
	margin-left: -49%;
	z-index: 30;
}
.cmTipBox.cmActionList > .cmTipBoxInner {
	padding: 5px 0 6px;
}
.cmTipBox.cmActionList > .cmTipBoxInner > .cmBtnCombo,
.cmTipBox.cmActionList > .cmTipBoxInner > .cmBtnLine {
	padding-left: 5px;
	padding-right: 5px;
}
.cmTipBox.cmActionList > .cmTipBoxInner > .cmBtn {
	margin-left: 5px;
	margin-right: 5px;
}
.cmTipBox.cmActionList > .cmTipBoxInner > .cmLeft {float: left; width: auto;}
.cmTipBox.cmActionList > .cmTipBoxInner > .cmRight {float: right; width: auto;}

html.moz .cmTipBox.cmActionList .cmBtnLine.cmLeft > *,
html.moz .cmTipBox.cmActionList .cmBtnCombo.cmLeft > * {
	float: left;
}
.cmTipBox.cmActionList > .cmBtnLine .cmBtnWrapper {padding-top: 5px; padding-bottom: 6px;}
.cmTipBox.cmActionList > .cmBtnLine .cmBtnWrapper:first-child {padding-left: 5px;}
.cmTipBox.cmActionList > .cmBtnLine .cmBtnWrapper:last-child {padding-right: 5px;}

.cmTipBox.cmActionList .cmBtn {
	border-color: black;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.cmTipBox.cmActionList input {
	border-color: black;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.25);
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.25);
}
.cmTipBox.cmActionList.cmDownArrow .cmTipBoxArrow:after {
	border-top-color: #333;  /** ref to .cmTipBox.cmActionList's darker side of gradient **/
}


/** The End **/
/* --------------------------------------------- */
