/** @charset "utf-8"; **/
/* --------------------------------------------- */
/** gallery **/
.cmGallery {
	position: relative;
	/** visibility: hidden; **/
}
.cmGallery.ready {
	/** visibility: visible; **/
}
.cmGallery .cmGalleryFrame {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	background-color: gray;
}
.cmGallery .cmGalleryFrame > ul {
	display: table;
	visibility: hidden;
}
.cmGallery.ready .cmGalleryFrame > ul {
	visibility: visible;
}
.cmGallery .cmGalleryFrame > ul > li {
	display: table-cell;
}
.cmGallery .cmGalleryFrame > ul > li > a {
	display: block;
}

/* --------------------------------------------- */
/** indicator **/
.cmGallery .cmGalleryIndicator {
	padding-top: 10px;
	height: 10px;
}
.cmGallery .cmGalleryIndicator ol {
	display: box;
	display: -moz-box;
	display: -webkit-box;
	box-pack: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	width: 100%;
}
.cmGallery .cmGalleryIndicator li {
	margin: 0 4px;
	width: 8px;
	height: 8px;
	text-indent: -999px;
	overflow: hidden;
	background-color: silver;
	border-radius: 4px;
}
.cmGallery .cmGalleryIndicator li.on {
	background-color: black;
	box-shadow: 0 0 0 1px rgba(255,255,255,0.75);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.75);
}

/* --------------------------------------------- */
/** arrow **/
.cmGallery .cmGalleryArrow a {
	position: absolute;
	top: 0;
	width: 40px;
	height: 100px;
	color: transparent;
	text-shadow: none;
	background-color: rgba(0,0,0,0.4);
	box-shadow: 0 0 0 1px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.5);
	-moz-transition: background-color .2s linear;
	-webkit-transition: background-color .2s linear;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}
.cmGallery .cmGalleryArrow a.prev {
	left: 0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.cmGallery .cmGalleryArrow a.next {
	right: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
html.mouse .cmGallery .cmGalleryArrow a:hover {
	background-color: rgba(0,0,0,0.5);
	-moz-transition-property: none;
	-webkit-transition-property: none;
}
.cmGallery .cmGalleryArrow a:active {
	background-color: rgba(0,0,0,0.6) !important;
	-moz-transition-property: none;
	-webkit-transition-property: none;
}
.cmGallery .cmGalleryArrow a.off {
	box-shadow: 0 0 0 1px rgba(255,255,255,0.1);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.1);
	background-color: rgba(0,0,0,0.15) !important;
	cursor: default;
	-moz-transition: background-color .2s linear !important;
	-webkit-transition: background-color .2s linear !important;
}

.cmGallery .cmGalleryArrow a::before,
.cmGallery .cmGalleryArrow a::after {
	content: '';
	position: absolute;
	top: 50%;
	width: 2px;
	height: 30px;
	background-color: rgba(255,255,255,0.5);
}
.cmGallery .cmGalleryArrow a.off::before,
.cmGallery .cmGalleryArrow a.off::after {
	background-color: rgba(255,255,255,0.2);
}
.cmGallery .cmGalleryArrow a.prev::before {
	left: 14px;
	margin-top: -30px;
	-moz-transform: skewX(-26.565deg);
	-webkit-transform: skewX(-26.565deg);
}
.cmGallery .cmGalleryArrow a.prev::after {
	left: 14px;
	-moz-transform: skewX(26.565deg);
	-webkit-transform: skewX(26.565deg);
}
.cmGallery .cmGalleryArrow a.next::before {
	right: 14px;
	margin-top: -30px;
	-moz-transform: skewX(26.565deg);
	-webkit-transform: skewX(26.565deg);
}
.cmGallery .cmGalleryArrow a.next::after {
	right: 14px;
	-moz-transform: skewX(-26.565deg);
	-webkit-transform: skewX(-26.565deg);
}

/** android **/
html.android-low .cmGallery .cmGalleryArrow a::before {
	display: none;
}
html.android-low .cmGallery .cmGalleryArrow a::after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -20px;
	width: 0;
	height: 0;
	border-top-color: transparent;
	border-bottom-color: transparent;
	background-color: transparent;
	color: rgba(255,255,255,0.5);
}
html.android-low .cmGallery .cmGalleryArrow a.prev::after {
	border-style: solid;
	border-width: 20px 10px 20px 0;
	left: 13px;
	-moz-transform: none;
	-webkit-transform: none;
}
html.android-low .cmGallery .cmGalleryArrow a.next::after {
	border-style: solid;
	border-width: 20px 0 20px 10px;
	right: 13px;
	-moz-transform: none;
	-webkit-transform: none;
}


/** The End **/
/* --------------------------------------------- */
