/** @charset "utf-8"; **/
/* --------------------------------------------- */
/** overlay **/

/** anim **/
.cmTipBox,
.cmLoading,
.cmMask {
	pointer-events: auto;
	-webkit-transform: translate3d(0, 0, 0);  /** 3d acceleration **/
}
.cmTipBox.fade-in,
.cmLoading.fade-in,
.cmMask.fade-in {
	-moz-transition: opacity .15s linear;
	-webkit-transition: opacity .15s linear;
}
.cmTipBox.hidden,
.cmTipBox.fade-out,
.cmLoading.hidden,
.cmLoading.fade-out,
.cmMask.hidden,
.cmMask.fade-out {
	opacity: 0;
	pointer-events: none;
}
.cmTipBox.fade-out,
.cmLoading.fade-out,
.cmMask.fade-out {
	-moz-transition: opacity .20s linear;
	-webkit-transition: opacity .20s linear;
}


/* --------------------------------------------- */
/** mask **/
.cmMask {position:absolute;left:0;top:0;z-index:100;width:100%;height:100%;
	background:black;opacity:0.6;-webkit-tap-highlight-color:transparent;}


/* --------------------------------------------- */
/** dialog **/
.cmDialog {display:none;}
.cmDialogReady {display:block;position:absolute;left:-999px;top:-999px;z-index:110;}

/* --------------------------------------------- */
/** loading **/
.cmLoading {position:absolute;left:-200px;top:-300px;z-index:120;}
.cmLoading {
	min-width: 100px;
	max-width: 200px;
	min-height: 100px;
	background: black;
	opacity: 0.75;
	border-radius: 10px;
	overflow: hidden;
}
.cmLoading .cmX50 {margin-top: 25px;}
.cmLoading.cmText .cmX50 {margin-top: 18px;}

.cmLoading p {
	display: none;
}
.cmLoading.cmText p {
	display: block;
	margin: 5px 20px 10px;
	color: white;
	font-weight: 700;
	text-align: center;
}






/** The End **/
/* --------------------------------------------- */
