
/* --------------------------------------------- */
/** selector **/

// form elements
$-sel-input-text = 'input[type=text], input[type=password], input[type=search], input[type=email], input[type=number], input[type=tel]'
$-sel-input-option = 'input[type=checkbox], input[type=radio]'
$-sel-btn = 'input[type=button], input[type=submit], button'
