/*!! CMUI | MIT License | http://cmui.net */

// Purpose of this file:
// 1. To add license info above.
// 2. To workaround a bug:
//     Stylus has a "path resolving" bug,
//     which confuses between nib's `text` directory and CMUI's `text.styl` file.
//     This wrapper file can workaround this bug.
@import '../theme/baixing/index'

